{% extends "base.html" %}
{% load sass_tags static %}

{% block css %}
<link href="{% sass_src 'styles/pages/diary.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

{# Sections links #}
<div class="container slider">
  <div class="scrollable-h1">
    <a href="{% url 'diary:index' %}">Дневник</a>
    <a href="{% url 'diary:search' %}">Поиск</a>
    <a href="{% url 'diary:tags' %}" class="active">Тэги</a>
  </div>
</div>

{# Main #}
<div class="container">
  <a class="large-tag" href="{% url 'diary:tags' %}">
    #{{ tag }}
  </a>
  <div class="stats">
    {% for stat in stats %}
      <div class="pure-g tag-entry">
        <div class="pure-u-11-24" style="text-align: right;">
          {% if forloop.counter == 1 %}
          <b>{{ stat.0 }}</b>
          {% else %}
          {{ stat.0 }}
          {% endif %}
        </div>
        <div class="pure-u-2-24" style="text-align: center;">
          ·
        </div>
        <div class="pure-u-11-24" style="text-align: left;">
          {% if forloop.counter == 1 %}
          <b>{{ stat.1 }}</b>
          {% else %}
          {{ stat.1 }}
          {% endif %}
        </div>
      </div>
    {% endfor %}
    <a href="{% url 'diary:tags' %}" class="btn primary">
       Назад
     </a>
  </div>
  <div class="">
    <h2>Записи</h2>
    {% for entry in tag.ordered_entries %}
    <div class="pure-g tag-entry">
      <div class="pure-u-11-24" style="text-align: right;">
        <a href="{% url 'diary:detail' date=entry.entry.date %}" class="dk-a">{{ entry.entry.date }}</a>
      </div>
      <div class="pure-u-2-24" style="text-align: center;">
        ·
      </div>
      <div class="pure-u-11-24" style="text-align: left;">
        {% if entry.value %}
        {{ entry.value }}
        {% else %}
        ×
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <br>
</div>
{% endblock %}
