{% extends "base.html" %}
{% load static i18n %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/diary/index.css' %}">

<style media="screen">
{% with menu|get_color:active_menu as color %}
.dk-blog-header:hover {
  color: {{ color.accent }};
  text-decoration: none;
}
{% endwith %}
</style>

{% endblock %}

{% block body %}

{# Menu #}
{% include 'components/menu.html' %}

<div class="uk-container uk-container-small">
  <h1>
    <b>#{{ tag.name }}</b>
  </h1>

  <table class="uk-table uk-table-divider">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Значение</th>
        </tr>
    </thead>
    <tbody>
      {% for entry in tag.ordered_entries %}
        <tr>
            <td>
              <a href="{% url 'diary:detail' date=entry.entry.date %}" class="dk-a">
                {{ entry.entry.date }}
              </a>
            </td>
            <td>
              {% if entry.value %}
              {{ entry.value }}
              {% else %}
              -
              {% endif %}
            </td>
        </tr>
      {% endfor %}
    </tbody>
</table>

  <div class="">
    <br>
    <a href="/diary/tags" class="uk-button uk-button-text">Назад</a>
  </div>
</div>
<br>
{% endblock %}
