{% extends "base.html" %}
{% load static i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/diary.css' %}">
{% endblock %}

{% block body %}

{# Sections links #}
<div class="container slider-container">
  <div class="scrollable-h1">
    <a href="{% url 'diary:index' %}">Дневник</a>
    <a href="{% url 'diary:calendar' %}">Календарь</a>
    <a href="{% url 'diary:tags' %}" class="active">Тэги</a>
  </div>
</div>

{# Main #}
<div class="container">
  <a class="large-tag" href="{% url 'diary:tags' %}">
    #{{ tag }}
  </a>
  <span class="large-tag-count">
  — {{ tag.entries_count }}
  </span>
  <div class="">
    {% for entry in tag.ordered_entries %}
    <div class="pure-g tag-entry">
      <div class="pure-u-11-24" style="text-align: right;">
        <a href="{% url 'diary:detail' date=entry.entry.date %}" class="dk-a">{{ entry.entry.date }}</a>
      </div>
      <div class="pure-u-2-24" style="text-align: center;">
        ·
      </div>
      <div class="pure-u-11-24" style="text-align: left;">
        {% if entry.value %}
        {{ entry.value }}
        {% else %}
        ×
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <br>
  <a href="{% url 'diary:tags' %}" class="btn primary">
     Назад
   </a>
</div>
{% endblock %}
