{% extends "base.html" %}
{% load sass_tags static i18n %}

{% block css %}
<link href="{% sass_src 'styles/pages/diary.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

{# Sections links #}
<div class="container slider">
  <div class="scrollable-h1">
    <a href="{% url 'diary:index' %}">Дневник</a>
    <a href="{% url 'diary:search' %}">Поиск</a>
    <a href="{% url 'diary:tags' %}" class="active">Тэги</a>
  </div>
</div>

{# Main #}
<div class="container">
  <form action="{% url 'diary:edit_groups' %}" method="post" id="groups">
    {% csrf_token %}
    <div class="dk-h2">Добавление/изменение групп</div>
    <br><br>

    <div class="">
      <div id="group-edit-header">
        <span>Название группы</span>
        <span>Цвет</span>
        <span>Порядок сортировки</span>
        <span>Удалить?</span>
      </div>
      {% for group in groups %}
        <div>
          {% if group.color %}
          <input type="text" class="text-input" name="group__{{ group.id}}__name" value="{{ group.name }}" style="color: {{ group.color }};">
          {% else %}
          <input type="text" class="text-input" name="group__{{ group.id}}__name" value="{{ group.name }}">
          {% endif %}
          <input type="text" class="text-input" name="group__{{ group.id}}__color" value="{% if group.color %}{{ group.color }}{% endif %}" placeholder="Например: #FEFEFE">
          <input type="text" class="text-input" name="group__{{ group.id}}__order" value="{{ group.order }}">
          <input type="checkbox" name="group__{{ group.id}}__delete" style="margin-left: 20px;">
        </div>
      {% endfor %}
      <input type="text" class="text-input" name="new_groups" value="" id="new_groups" placeholder="Введите новые группы через запятую">
      <br>
      <input type="submit" name="save_groups" class="btn primary" value="Сохранить группы">
    </div>
    <br>
    <div class="dk-h2">Добавление групп для тегов</div>
    <br><br>
    
    <div class="pure-g">
      {% for tag in tags %}
      <div class="pure-u-1-1 pure-u-md-1-2">
          {% if tag.group and tag.group.color %}
          <span class="group-tag-value" style="color: {{ tag.group.color }}">{{ tag }}</span>
          {% else %}
          <span class="group-tag-value">{{ tag }}</span>
          {% endif %}
          <select name="tag__{{ tag.id }}" class="select-input">
            <option value="">--- Не указано ---</option>
            {% for group in groups %}
            {% if tag.group == group %}
            <option value="{{ group.id }}" selected>{{ group }}</option>
            {% else %}
            <option value="{{ group.id }}">{{ group }}</option>
            {% endif %}
            {% endfor %}
          </select>
      </div>
      {% endfor %}
      <input type="submit" name="save_tags" class="btn primary" value="Сохранить тэги">
    </div>
  </form>
</div>
{% endblock %}
