.dk-blog-detail-title {
  font-size: 50px;
  margin-top: 15px;
  margin-bottom: 0px;
}
.dk-blog-detail-subtitle {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #888;
}

/* For mobile */
@media screen and (max-width: 800px) {
  .dk-blog-detail-title {
    font-size: 26px;
  }
  hr {
    margin: 0px !important;
  }
  .dk-blog-h2 {
    margin-top: 10px;
  }
  .dk-related-h3 {
    font-size: 18px;
    font-weight: bold;
  }
  .uk-grid + .uk-grid, .uk-grid > .uk-grid-margin, * + .uk-grid-margin {
      margin-top: 15px;
  }
}

/* For desktop */
@media screen and (min-width: 800px) {
  .dk-slideshow {
    transform: scale(0.7);
    top: -100px;
  }
}
.dk-date {
  font-size: 12px;
  font-weight: 100;
  color: #aaa;
}
.dk-gallery-image {
  box-shadow: 2px 2px 10px #acacac;
  outline: 3px solid white;
  transition: all 0.3s ease;
  transform: scale(1.1);
}
.dk-gallery-image:hover{
  transform: scale(1.3) translateY(-15px);
}
.uk-button-primary {
  background-color: #1BAEC1;
}
.uk-button-primary:hover {
  background-color: #149bac;
}
