[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
botocore = "*"
cachetools = "==4.2.2"
dj-database-url = "==0.5.0"
django-admin-sortable = "*"
django-extensions = "==3.1.3"
django-imagekit = "==4.0.2"
django-object-actions = "==3.0.2"
django-sass-processor = "==1.0.1"
django-compressor = "*"
libsass = "*"
django-storages = "==1.11.1"
gunicorn = "==20.1.0"
psycopg2-binary = "==2.9.1"
python-dateutil = "==2.8.1"
python-decouple = "==3.4"
pytz = "==2021.1"
sqlparse = "*"
urllib3 = "*"
whitenoise = "*"
Django = "==3.2.11"
Faker = "*"
Pillow = "==8.2.0"
Pygments = "*"

[dev-packages]
Fabric3 = "==1.14.post1"

ipdb = "*"
ipython = "*"
ipython_genutils = "*"
isort = "*"
factory-boy = "*"
flake8 = "*"
flake8-commas = "*"
mypy = "*"
pytest = "*"

[requires]
python_version = "3.9"
