[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.5"
dj-database-url = "*"
"psycopg2" = "*"
whitenoise = "*"
django-extensions = "*"
"psycopg2-binary" = "*"
django-admin-sortable = "*"
django-object-actions = "*"
django-imagekit = "*"
pillow = "*"
unidecode = "*"
python-decouple = "*"
django-storages = "*"
"boto3" = "*"

[dev-packages]
factory-boy = "*"
isort = "*"
ipdb = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
