@import "colors";
@import "variables";

.btn {
  padding: 10px 20px 7px 20px;
  border-radius: $bradius;
  border: none;
  margin: 5px 5px;
  font-size: 16px;
  display: inline-block;
  transition: all 0.1s ease;
  text-align: center;
  color: $text;
  background: $dark;
}
.btn:active {
  transform: scale(0.95);
}
.btn:focus, video:focus {
  outline: none;
}

.btn.wide {
    width: calc(100% - 54px);
}

// Primary buttons
.btn.primary {
  color: $dark;
  background: $primary-color;
}
.btn.primary:hover {
  background: $primary-color-dark;
}

.btn.lined.primary {
    color: $primary-color;
    background: transparent;
    box-shadow: inset 0px 0px 0px 1px $primary-color;
}
.btn.lined.primary:hover {
    color: $primary-color-dark;
    background: transparent;
    box-shadow: inset 0px 0px 0px 1px $primary-color-dark;
}

// Faded buttons
.btn.faded {
  background: $primary-color-darkest;
}
.btn.faded:hover {
  background: $primary-color-darken;
}

// Tag buttons
.btn.tag, .btn.tag-p {
  padding: 5px 9px 4px 9px;
  margin: 0px 1px 4px 0px;
  font-size: 14px;
  // font-weight: 600;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  display: inline-block;
  color: $dark-text;
  background: $dark;
}
.btn.tag:hover {
  background: $darkest;
}
