// Main colors
$main: #1B2430;
$dark: #171e28;
$darken: #ff0000;
$darkest: #151c25;

// Text
$text: #b6b8d0;
$dark-text: #87899c;
$darkest-text: #777;
$faded-text: #3f5471;

// Different
$red: #E06C75;
$new-badge: #e94e5a;

// Primary
$primary-color: #00ACC1 !default;
$primary-color-dark: #057b8a !default;
$primary-color-darken: #3d4162 !default;
$primary-color-darkest: #30334e !default;
