@import "colors";

.menu {
  padding-top: 30px;
  padding-bottom: 20px;
}

#menu-logo {
  width: 80px;
  display: inline-block;
  transition: filter 0.3s ease;
}

#menu-logo:hover {
  filter: brightness(0.3);
}

// Menu items
#desktop-menu-items {
  padding: 15px 0px !important;
  text-align: left;

  a {
    border-radius: 20px;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px 0px 0px;
    padding: 10px 15px 7px 15px;
    transition: $bg-trans;
    transition: $color-trans;
  }

  a.selected {
    color: $primary-color;
    font-weight: bold;
  }

  a:hover {
    background: $dark;
    color: $primary-color;
  }
}

.mobile-header {
  font-family: $font2;

  font-size: 32px;
  text-align: right;
  padding-top: 15px;
  a {
    color: $primary-color;
  }
}

/* MEDIA */
@media only screen and (max-width: 700px) {
  .menu {
    padding-top: 10px;
    padding-bottom: 0px;
  }

  #menu-logo {
    width: 70px;
  }
}
