@import "colors";

.menu {
  padding-top: 30px;
}

#menu-logo {
  width: 80px;
  display: inline-block;
  transition: filter 0.3s ease;
}

#menu-logo:hover {
  filter: brightness(0.3);
}

// Menu items
#menu-items {
  padding: 15px 0px !important;

  a {
    border-radius: 20px;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px 0px 0px;
    padding: 10px 15px 7px 15px;
    transition: $bg-trans;
    transition: $color-trans;
  }

  a.selected {
    color: $primary-color;
    font-weight: bold;
  }

  a:hover {
    background: $dark;
    color: $primary-color;
  }
}

// Login section
#login-section {
  margin-top: 20px;

  a {
    float: right;
  }

  img {
    width: 46px;
    height: 46px;
    border-radius: 40px;
    float: right;
    transition: transform 0.3s ease;
  }

  img:hover {
    transform: scale(1.1);
  }
}

.mobile-header {
  font-family: $font2;

  font-size: 32px;
  text-align: right;
  padding-top: 15px;
  a {
    color: $primary-color;
  }
}

.mobile-menu {
  text-align: right;
  position: fixed;
  z-index: 1000;
  bottom: 0px;
  background: $darkest;
  padding: 10px 0px;
  width: 100%;
  text-align: center;

  a {
    img {
      width: 35px;
      height: 35px;
      opacity: 45%;
    }
  }

  .active {
    img {
      opacity: 90%;
    }
  }
}

/* MEDIA */
@media only screen and (max-width: 700px) {
  .menu {
    padding-top: 10px;
    padding-bottom: 0px;
  }

  #menu-logo {
    width: 70px;
  }
}
