.uk-navbar-nav>li.active::after {
    background-color: #f35d28;
}

.uk-navbar-nav>li.active>a {
    color: #f35d28;
}
.dk-navbar-active {
    color: #f35d28 !important;
}
.uk-navbar-nav>li>a {
  color: #ddd;
}
.uk-navbar-nav>li>a:hover {
    color: #f35d28;
}

.dk-track-name {
  font-size: 60px;
  color: #ABB2C0;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  font-family: 'Knewave', Arial;
}

.dk-track-year {
  font-size: 16px;
  margin: 0px;
  text-shadow: none;
  text-align: center;
}

.dk-track-image {
  max-width: 500px;
  width: 100%;
}

.dk-track-image-container {
  text-align: center;
  z-index: 1000;
}

.dk-description {
  margin-top: 10px;
}

.dk-file {
  display: block;
  color: #8c919c;
  padding: 5px 15px;
  margin: 15px auto;
  max-width: 480px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: left;
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.dk-file:hover {
  background-color: #292b36;
  text-decoration: none;
  color: #8c919c;
}

.dk-file .name {
  line-height: 40px;
  vertical-align: middle;
  padding-left: 5px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.dk-player-timeline {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  height: 0px;
  background-color: #343743;
  transition: all 0.3s ease;
}

.dk-player-timeline.active {
  height: 7px;
}

.dk-player-position {
  width: 0;
  background-color: #8d391c;
  height: 7px;
  transition: all 0.3s ease;
}

.dk-player-position.active {
  background-color: #f35d28;
}
/* MEDIA STYLES =========================================================== */

/* Less than 800px */

@media screen and (max-width: 850px) {
  .dk-track-name {
    font-size: 50px;
  }
  .dk-file .name {
    font-size: 13px;
  }
}

@media screen and (min-width: 1200px) {
  .dk-head-container {
    left: 50%;
    transform: translateX(-50%);
    width: 1100px;
  }
}

/* Less than 640px */

@media screen and (max-width: 639px) {
  .dk-track-name {
    font-size: 35px;
    padding-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  .dk-file .name {
    font-size: 14px;
  }
  .dk-description {
    margin-top: 25px;
  }
}

/* Less than 450px - iPhone SE screen */

@media screen and (max-width: 450px) {
  .dk-track-name {
    font-size: 38px;
  }
}
