.dk-section-about {
  text-align: justify;
}

.uk-divider-icon::before {
    right: calc(50% + (80px));
    width: 100%;
}

.uk-divider-icon::after {
    left: calc(50% + (80px));
    width: 100%;
}

.dk-dno {
  position: relative;
  text-align: center;
}

.dk-dno-section {
  background: transparent !important;
}

.dk-dno h1 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 40px;
  color: #222 !important;
}

.dk-dno h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #222 !important;
}

.dk-dno a {
  display: block;
  color: #333 !important;
  font-size: 16px;
  margin: 5px 0px;
}

.dk-dno button {
  margin: 30px auto;
  font-size: 16px;
  color: #fefefe !important;
  background: #f45c28 !important;
  border: none !important;
  transition: all 0.3s ease !important;
}

.dk-dno button:hover {
  color: #fefefe !important;
  background: #fc6f3f !important;
  border-color: none !important;
  transform: translateY(-5px);
}
/* Track card */

.uk-card {
  padding-left: 0px;
  box-shadow: none;
}

/* Track information */

.dk-track-name {
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 40px;
}

.dk-track-year {
  margin-top: 0px;
  margin-bottom: 10px;
}

.dk-track-someinfo {
  font-size: 18px !important;
  font-weight: 100;

}


.dk-track-description {
  padding-bottom: 20px;
}

/* "Details" button on desktop version */

.dk-desktop-details {
  margin-left: 30px;
}

/* "Details" button on mobile version */

.dk-mobile-details {
  padding: 0px 13px;
  margin-left: 5px;
}

/* Artist */

.dk-artist-name {
  font-weight: 300;
}


/* Player */

.dk-play-button {
  transition: all 0.3s ease;
  width: 104px;
  padding: 0;
}

.dk-play-button.active {
  border-color: #f45c28;
  color: #f45c28;
}

.dk-player-timeline {
  cursor: pointer;
  position: absolute;
  height: 0px;
  bottom: 0;
  right: 0;
  background-color: #e9e9e9;
  transition: all 0.3s ease;
}

.dk-player-timeline.active {
  height: 7px;
}

.dk-player-position {
  width: 0;
  background-color: #c19281;
  height: 7px;
  transition: all 0.3s ease;
  position: absolute;
  z-index: 2;
}

.dk-player-buffer {
  width: 0;
  background-color: #e0e0e0;
  height: 7px;
  transition: all 0.3s ease;
  position: absolute;
  z-index: 1;
}

.dk-player-position.active {
  background-color: #f35d28;
}

.dk-player-time {
  font-family: 'Avenir Next Cyr' !important;
  transition: all 0.5s ease;
  -webkit-font-smoothing: initial;
  font-weight: 400;
  position: absolute;
  opacity: 0;
  font-size: 13px;
  bottom: 10px;
  right: 7px;
}

.dk-section {
  margin-bottom: 35px;
}

.dk-button {
  border: 1px solid #ABB2C0;
  border-radius: 3px;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px 5px;
}

.dk-button.space {
  padding: 3px 22px;
}

.dk-button.arrow {
  padding: 1px 5px;
}

.dk-track-container {
  margin-bottom: 15px;
  position: relative;
}

.dk-new {
  position: absolute;
  right: 55px;
  top: 15px;
  background: #de0000;
  z-index: 100;
}


/* MEDIA STYLES =========================================================== */

/* Less than 800px */

@media screen and (max-width: 800px) {
  .dk-track-description {
    font-size: 13px;
  }
  .dk-track-name {
    font-size: 28px;
    margin-bottom: 10px;
  }
}

/* Less than 640px */

@media screen and (max-width: 640px) {
  .dk-track-year {
    display: none;
  }
  .dk-desktop-details {
    display: none;
  }
  .dk-track-name {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .uk-card-body {
    padding: 10px 15px 15px 15px;
  }
}

/* More than 640px */

@media screen and (min-width: 640px) {
  .dk-mobile-details {
    display: none;
  }
  .uk-card-body {
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* Less than 1200px */

@media screen and (max-width: 1200px) {
  .uk-card {
    margin-left: 30px;
  }
}

/* Less than 450px - iPhone SE screen */

@media screen and (max-width: 450px) {
  .dk-track-description {
    display: none;
  }
  .dk-track-name {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .dk-player-time {
    bottom: -20px;
    right: 0;
  }
  .dk-section {
    padding: 20px 0px !important;
  }
  .dk-section p {
    font-size: 13px;
  }
}
