$primary-color: #00B5AD;
$primary-color-dark: #059891;

@import "../_main";

// List view

.blog-item {
  margin-bottom: 30px;
  padding: 5px;
  .blog-item-image {
    display: block;
    position: relative;
    .blog-play {
      position: absolute;
      height: 40px;
      opacity: 0;
      z-index: 30;
      transition: opacity 0.3s ease, transform 0.1s ease;
      left: 50%;
      top: 50%;
      margin-top: -20px;
      margin-left: -20px;
    }
    .blog-item-img {
      width: 100%;
      background: #f0f0f3;
      transition: all 0.3s ease;
    }
    .blog-item-duration {
      position: absolute;
      right: 6px;
      bottom: 10px;
      background: rgba(0,0,0,0.75);
      color: #fefefe;
      font-size: 11px;
      font-weight: bold;
      padding: 1px 3px;
      border-radius: 2px;
    }
  }
  .blog-item-subtitle {
    margin-top: 4px;
    font-size: 14px;
    color: $text;
  }
  .blog-item-date {
    margin-bottom: 16px;
    margin-top: 5px;
    font-size: 10px;
    color: $dark-text;
  }
}


.blog-item-image:hover {
  .blog-item-img {
    filter: brightness(55%);
  }
  .blog-play {
    opacity: 1;
  }
}

.blog-item-image:active {
  .blog-play {
    transform: scale(0.9);
  }
}

.blog-item:last-child {
  margin-bottom: 0px;
}

.pagination {
  padding: 35px 0px 10px 0px;
  text-align: center;
  div {
    display: inline-block;
    background: $primary-color;
    padding: 5px 15px 10px 15px;
    border-radius: 20px;
    .page-nav {
      display: inline-block;
      position: relative;
      padding: 0px 10px;
      top: 5px;
      transition: transform 0.3s ease;
    }
    .page-nav.inactive img {
      opacity: 0.15;
    }
    .page-link {
      padding: 10px;
      font-size: 12px;
      color: $primary-color-dark;
    }
    .page-link.active {
      font-size: 16px;
      color: $faded-text;
    }
  }
}

@media only screen and (min-width: 567px) {
  // Desktop
  .page-nav:hover {
    transform: scale(1.3);
  }
}
@media only screen and (max-width: 567px) {
  // Mobile
  .blog-item-info {
    padding: 10px 0px;
  }
  .pagination {
    text-align: center;
    padding: 15px 0px 5px 0px;
  }
  .page-nav {
    padding: 0px 5px;
  }
}

// Detail view

.blog-404 {
  padding: 20px 0px 20px 0px;
  color: $text;
}

.video-info {
  margin-top: 20px;
  padding: 15px 0px;
  background: $darkest;
  text-align: center;
  video {
    max-width: 100%;
    width: 80%;
    object-fit: contain;
  }
}
.youtube-video {
  margin-top: 20px;
  padding: 15px 0px;
  background: $darkest;
  .youtube-div {
    position:relative;
    height: 460px;
    iframe {
      position:absolute;
      top:0;
      left:10%;
      width:80%;
      height: calc(100% - 10px);
    }
  }
}
.video-series-info {
  margin-top: 20px;
  background: $darkest;
  padding: 15px 0px;
  video {
    max-width: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.blog-info {
  .title {
    margin-bottom: 0px;
    color: $text;
  }
  .after-title {
    font-size: 12px;
    margin-top: 10px;
    color: $text;
    .date {
      display: inline-block;
      padding-right: 10px;
    }
    .quality {
      display: inline-block;
      a {
        color: $darkest-text;
        transition: $color-trans;
      }
      a.active {
        color: $primary-color;
        font-weight: bold;
      }
      a:hover {
        color: $primary-color;
      }
    }
  }
  .text {
    background: $dark;
    color: $text;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 0px $darkest;
  }
}
.buttons {
  margin-top: 20px;
}

.series-info {
  padding: 15px 20px 5px 20px;
  height: calc(100% - 24px);
  position: relative;
  .title {
    color: $text;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .subtitle {
    color: $darkest-text;
    font-size: 12px;
    padding-bottom: 5px;
    a {
      color: $primary-color-dark;
    }
  }
  .items {
    .counter {
      display: inline-block;
    }
    .item {
      display: block;
      padding-top: 5px;
      .counter {
        font-size: 12px;
        color: $darkest-text;
        font-weight: 400;
        padding-right: 10px;
      }
    }
    .item.active {
      font-weight: bold;
      color: $primary-color;
    }
  }
}

@media only screen and (max-width: 769px) {
  .series-info {
    margin-top: 10px;
    height: calc(100% - 20px);
    padding: 0px 0px 10px 0px;
  }
  .series-info .title {
    font-size: 24px !important;
    margin-bottom: 0px;
  }
  .video-info {
    video {
      width: 100%;
    }
  }
  .youtube-video {
    .youtube-div {
      position:relative;
      height: 300px;
      iframe {
        left:0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .youtube-video {
    .youtube-div {
      position:relative;
      height: 160px;
    }
  }
}
