$primary-color: #1DA1F2;
$primary-color-dark: #1992DB;

@import "../_main";

.show-all {
  float: right;
}

.album-items,
.blog-items {
  width: 100%;
}

// Cards

.card {
  position: relative;
  display: block;
  background: $dark;
  color: #e0e0e0;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: 10px 10px 0px $darkest;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 6px 6px 0px $darkest;

  .subtitle {
    color: $primary-color;
  }
}

.primary-card {
  .image {
    width: 100%;
  }

  .left-section {
    position: relative;
  }

  .right-section {
    padding-left: 15px;

    .title {
      color: $text;
      font-weight: 700;
      font-size: 28px;
      margin-bottom: 5px;
      max-width: 300px;
    }

    .subtitle {
      color: $text;
      font-weight: 400;
      font-size: 16px;
      margin-top: 15px;
      margin-bottom: 15px;
      max-width: 300px;
    }

    .date {
      margin-top: 5px;
      font-size: 10px;
      color: $dark-text;
    }

    .year {
      margin-top: 5px;
      font-size: 14px;
      color: $dark-text;
    }

    .info {
      margin-top: 5px;
      margin-bottom: 15px;
      span {
          display: block;
          margin-bottom: 5px;
      }
    }

    .btn {
      text-align: center;
    }
  }

}

.secondary-card {

  .image-box {
    height: 133px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;

    .image {
      width: 100%;
    }

    .badges {
      bottom: 6px;
    }
  }

  .subtitle {
    color: $text;
    font-weight: 400;
    font-size: 14px;
    margin-top: 6px;
    max-width: 300px;
    transition: color 0.3s ease;
  }

  .date {
    margin-top: 5px;
    font-size: 10px;
    color: $dark-text;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.welcome {
  margin-top: 20px;
  margin-bottom: 20px;
  background: $dark;

  .container {
    padding: 30px;
    color: $text;

    .image-box {
      text-align: center;
      position: relative;

      .image {
        width: 200px;
        height: 200px;
        border-radius: 100px;
        margin-bottom: 20px;
        transition: transform 1s ease;
        cursor: progress;
      }

      .image:hover {
        animation: rotate 3s linear infinite;
      }

    }

    .text {
      font-size: 18px;

      a {
        color: $primary-color;
        font-weight: 500;
      }

      a:hover {
        color: $primary-color-dark;
      }
    }

  }
}

@media only screen and (max-width: 970px) {
  .welcome .container .text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 769px) {
  .album-badges {
    display: none;
  }

  .card {
    margin-right: 10px;

    .btn {
      width: 100%;
      margin: 0;
    }
  }

  .primary-card .right-section {
    padding-left: 0px;

    .title {
      font-size: 24px;
      margin-top: 10px;
    }

    .subtitle {
      font-size: 14px;
    }
  }

}
