$primary-color: #f45c28;
$primary-color-dark: #c4491f;

@import "../_main";
@import "../animations";

// Index

.album {
  text-align: center;
  position: relative;
  padding-bottom: 20px;
  padding-top: 10px;
  .image {
    text-align: center;
    transition: transform 0.3s ease;
    a {
      position: relative;
    }
    img {
      width: 80%;
    }
  }
  .name {
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
    color: $text;
    transition: $color-trans;
  }
  .info {
    font-size: 14px;
    color: $darkest-text;
  }
}
.album:hover {
  .name {
    color: $primary-color;
  }
}

// Record image

.record {
  display: none;
  position: absolute;
  transition: all 0.3s ease;
  top: -8px;
  left: 25px;
  margin: 19px auto;
  z-index: -1;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background:
    linear-gradient(30deg, transparent 40%, rgba(42, 41, 40, .85) 40%) no-repeat 100% 0,
    linear-gradient(60deg, rgba(42, 41, 40, .85) 60%, transparent 60%) no-repeat 0 100%,
    repeating-radial-gradient(#2a2928, #2a2928 4px, #ada9a0 5px, #2a2928 6px);
  background-size: 50% 100%, 100% 50%, 100% 100%;
}
.record:after {
  position: absolute;
  top: 50%; left: 50%;
  margin: -28px;
  border: solid 1px #d9a388;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px $primary-color,
    inset 0 0 0 27px $primary-color;
  background: #b5ac9a;
  content: '';
}

// Single album
.album-main-image {
  text-align: center;
  padding-right: 50px;
  a {
    position: relative;
  }
  img {
    width: 100%;
  }
}
.album-main-info {
  .name {
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 15px;
    color: $text;
  }
  .info {
    padding-bottom: 5px;
    color: $text;
  }
}

.album-tracks {
  padding-top: 20px;
  .track {
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: all 0.3s ease;
    color: $text;
  }
  .track:hover {
    color: $primary-color;
  }
  .track.active {
    font-weight: bold;
    color: $primary-color;
  }
  .track.paused {
    font-weight: bold;
    color: #777;
  }
  .track:last-child {
    border-bottom: none;
  }
}

.tracks-help {
  font-size: 14px;
  padding-top: 20px;
  color: $darkest-text;
}

@media only screen and (max-width: 567px) {
  .album-main-image {
    padding-right: 0px;
  }
  .album-main-image img {
    width: 80% !important;
    padding-bottom: 20px;
  }
  .badges {
    position: absolute;
    right: 6px;
    bottom: 30px;
  }
}
@media only screen and (min-width: 1030px) {
  .album:hover {
    .image {
      transform: rotate(-3deg) translateX(-35px);
    }
    .record {
      left: 65px;
      top: -12px;
    }
  }
  .record {
    display: block;
  }
}

// Tracks

.tracks {
  padding-top: 20px;
  .track-header {
    padding: 10px 5px;
    border-bottom: 2px solid #555;
    font-weight: bold;
    color: $text;
  }
  .track {
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: $color-trans;
    color: $text;
  }
  .track:hover {
    color: $primary-color;
  }
  .track.active {
    font-weight: bold;
    color: $primary-color;
  }
  .track.paused {
    font-weight: bold;
    color: #777;
  }
  .track:last-child {
    border-bottom: none;
  }
}

// Player
.player {
  background: #F0F0F4;
  display: block;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 80px;
}
.player-line {
  background: #ccc;
  height: 5px;
  width: 100%;
  position: absolute;
  cursor: pointer;
  top: 0px;
}
.player-line-played {
  background: red;
  height: 5px;
  width: 30%;
  position: absolute;
  cursor: pointer;
  top: 0px;
  z-index: 1000;
}

// Videos

.music-video-item {
  margin-bottom: 30px;
  padding: 5px;
  .music-video-item-image {
    display: block;
    position: relative;
    .music-video-play {
      position: absolute;
      height: 40px;
      opacity: 0;
      z-index: 30;
      transition: opacity 0.3s ease, transform 0.1s ease;
      left: 50%;
      top: 50%;
      margin-top: -20px;
      margin-left: -20px;
    }
    .music-video-item-img {
      width: 100%;
      background: #f0f0f3;
      transition: all 0.3s ease;
    }
  }
  .music-video-item-subtitle {
    margin-top: 4px;
    font-size: 14px;
    color: $text;
  }
  .music-video-item-date {
    margin-bottom: 16px;
    margin-top: 5px;
    font-size: 10px;
    color: $dark-text;
  }
}


.music-video-item-image:hover {
  .music-video-item-img {
    filter: brightness(55%);
  }
  .music-video-play {
    opacity: 1;
  }
}

.music-video-item-image:active {
  .music-video-play {
    transform: scale(0.9);
  }
}

.music-video-item:last-child {
  margin-bottom: 0px;
}

@media only screen and (max-width: 567px) {
  // Mobile
  .music-video-item-info {
    padding: 10px 0px;
  }
}
