$primary-color: #1DA1F2;
$primary-color-dark: #1992DB;

@import "../_main";

#login-section {
  img {
    border: 3px solid $primary-color-dark;
    margin-top: -3px;
    margin-right: -3px;
  }
}

.avatar {
  padding-top: 20px;
  img {
    width: 100px;
    border-radius: 100px;
  }
}

@media only screen and (max-width: 567px) {
  .avatar {
    text-align: center;
  }
  .submit-buttons {
    padding-top: 10px;
    text-align: center;
  }
}
