{% extends "base.html" %}
{% load static i18n %}


{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/diary/detail.css' %}">

{% endblock %}

{% block extrajs %}

{% endblock %}

{% block body %}

{# Menu #}
{% include 'components/menu.html' %}

<div class="uk-container uk-container-small">

  {% include "diary/extra/breadcrumbs.html" %}

  <div class="dk-entry">
    <div class="dk-edit-link uk-visible@s">
      <a href="{% url 'diary:edit' date=date_str %}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: pencil; ratio: 1.3;"></a>
    </div>
    <div class="dk-entry-date">
      {{ date_obj|date:'F d, Y (l)' }}
    </div>
    <div class="dk-entry-text">
      {% if entry.text %}
        {% autoescape off %}
          {{ entry.html }}
        {% endautoescape %}
      {% else %}
        <div class="dk-center-btn">
          <a href="{% url 'diary:edit' date=date_str %}" class="uk-button uk-button-default ">Запись не найдена. Заполнить?</a>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="uk-hidden@s uk-margin-top">
    <a href="{% url 'diary:edit' date=date_str %}" class="uk-button uk-button-default dk-mobile-buttons">Изменить</a>
    <a href="{% url 'diary:index' %}" class="uk-button uk-button-default dk-mobile-buttons">Назад</a>
  </div>
  <div class="dk-after uk-visible@s">
    <a href="{% url 'diary:detail' date=prev_date|date:'Y-m-d' %}" class="uk-button uk-button-default dk-mobile-buttons">Предыдущий день</a>
    <a href="{% url 'diary:detail' date=next_date|date:'Y-m-d' %}" class="uk-button uk-button-default dk-mobile-buttons">Следующий день</a>
  </div>

</div>
{% endblock %}
