{% extends "base.html" %}
{% load static i18n %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/diary.css' %}">
<style media="screen">
#expand-btn:hover {
  color: {{ colors.main }};
  border-color: {{ colors.main }};
}
</style>
{% endblock %}

{% block js %}
<script src="{% static 'js/diary/diary.js' %}" charset="utf-8"></script>
<script type="text/javascript">
document.addEventListener('keydown', function(e) {
  // Enter - edit entry
  if (e.keyCode == 13) {
    e.preventDefault();
    window.location.replace("{{ edit_link }}");
  }

  // Right arrow - next entry
  if (e.keyCode == 39) {
    e.preventDefault();
    window.location.replace("{% url 'diary:detail' date=next_day %}");
  }

  // Left arrow - prev entry
  if (e.keyCode == 37) {
    e.preventDefault();
    window.location.replace("{% url 'diary:detail' date=prev_day %}");
  }

  // Up arrow - prev entry
  if (e.keyCode == 38) {
    e.preventDefault();
    window.location.replace("{% url 'diary:detail' date=prev_week %}");
  }

  // Down arrow - prev entry
  if (e.keyCode == 40) {
    e.preventDefault();
    window.location.replace("{% url 'diary:detail' date=next_week %}");
  }
});
</script>
{% endblock %}

{% block body %}

{# Main container #}
<div class="container slider-container">
  <div class="scrollable-h1">
    <a href="{% url 'diary:index' %}" class="active">Дневник</a>
    <a href="{% url 'diary:search' %}">Поиск</a>
    <a href="{% url 'diary:tags' %}">Тэги</a>
  </div>
</div>
<div class="container">
  <form class="pure-g" action="{{ edit_link }}" method="post" id="entry_form">
    {% csrf_token %}
    <div class="pure-u-1-1 pure-u-md-17-24">
      {% block page_class %}
      <div id="page" {% if entry.text|length > 500 %}class="collapsed-page"{% endif %}>
      {% endblock %}

        {# Entry title #}
        {% block entry-date %}
        <div class="entry-date">
          {{ dt|date:'F d, Y (l)' }}
          {% if entry.done %}
          <img src="{% static 'images/signs/done.svg' %}" class="done-sign" alt="V" title="{% trans 'Entry is done' %}">
          {% else %}
          <img src="{% static 'images/signs/cross.svg' %}" class="done-sign" alt="X" title="{% trans 'Entry is not done yet' %}">
          {% endif %}
        </div>
        {% endblock %}

        {# Entry body #}
        {% block entry %}
        <div class="entry">
          {% if entry.text %}
          <div class="entry-buttons">
            <a href="{{ edit_link }}" class="btn primary">
              Изменить
            </a>
          </div>
          <div class="entry-text">
            {% autoescape off %}
              {{ entry.html }}
            {% endautoescape %}
          </div>
          <div id="after-preview"></div>
          {% else %}
          <div class="entry-buttons">
            <a href="{{ edit_link }}" class="btn primary">
              Начать редактирование
            </a>
          </div>
          {% endif %}
        </div>
        {% endblock %}
        {% if entry.text|length > 500 %}
        <div id="expand-btn" onclick="expandPage(this);">Показать все</div>
        {% endif %}
      </div>

      {# Previous/future years of same date #}
      <div style="float: right;">
        {% for year in prev_years %}
          <a href="{% url 'diary:detail' date=year.1 %}" class="graytext f12">
            {{ year.0 }}
          </a>
          {% if not forloop.last %}
            <span class="graytext">·</span>
          {% endif %}
        {% endfor %}
      </div>

      {% block file_upload %}
      <div class="">
        {% if entry.files.exists %}
        {% for file in entry.files.all  %}
          <a href="{{ file.url }}" class="btn tag">{{ file.name }}</a>
        {% endfor %}
        <a href="{{ file_link }}" class="btn tag-p primary">＋</a>
        {% else %}
        <div class="">
          <a href="{{ file_link }}" class="graytext f12">Прикрепить файл</a>
        </div>
        {% endif %}
      </div>
      <br>
      <br>
      {% endblock %}

    </div>

    {# Right menu #}
    <div class="pure-u-1-1 pure-u-md-7-24">
      {% block right-menu %}
      <div class="calendar">
        <a href="{% url 'diary:detail' date=month_links.0 %}" style="position: absolute; top: 2px;">
          <img src="{% static 'images/arrows/left.svg' %}" alt="">
        </a>
        <a href="{% url 'diary:detail' date=month_links.1 %}" style="position: absolute; top: 2px; right: 0px;">
          <img src="{% static 'images/arrows/right.svg' %}" alt="">
        </a>
        <div class="month-name">
          {{ dt|date:"F Y" }}
        </div>
        <div class="weekdays">
          <span>ПН</span>
          <span>ВТ</span>
          <span>СР</span>
          <span>ЧТ</span>
          <span>ПТ</span>
          <span>СБ</span>
          <span>ВС</span>
        </div>
        <div class="days">
          {% for obj in month %}
            {% if obj.date == '-' %}
            <a class="day {{ obj.classes }}"></a>
            {% else %}
            <a class="day {{ obj.classes }}" href="{% url 'diary:detail' date=obj.date %}">
              {{ obj.date.day }}
            </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% endblock %}
    </div>
  </form>
</div>
{% endblock %}
