{% extends "base.html" %}
{% load static i18n %}


{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/diary/detail.css' %}">
  <link rel="stylesheet" href="{% static 'css/diary/edit.css' %}">
{% endblock %}

{% block extrajs %}
  <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
  <script src="{% static 'js/diary/edit.js' %}" charset="utf-8"></script>
{% endblock %}

{% block body %}

{# Menu #}
{% include 'components/menu.html' %}

<div class="uk-container uk-container-small dk-cont">

  {% include "diary/extra/breadcrumbs.html" %}

  <form class="" action="{% url 'diary:edit' date=date_str %}" method="post">
    {% csrf_token %}
    <div class="dk-entry">
      <div class="dk-edit-mode uk-visible@s">
        <label for="done-check">Запись закончена</label>
        <input type="checkbox" name="done" id="done-check" {% if entry.done %}checked{% endif %}>
      </div>
      <div class="dk-entry-date noselect">
        {{ date_obj|date:'F d, Y (l)' }}
      </div>

      <div class="dk-entry-text">
        <textarea class="noselect" placeholder="Введите текст" name="text">{{ entry.text }}</textarea>
      </div>
    </div>
    <div class="dk-after">
      <input type="submit" name="_save" class="uk-button uk-button-primary dk-mobile-buttons" style="background-color: #00b5ad;" id="save" value="Сохранить">
      <a href="{% url 'diary:detail' date=date_str %}" class="uk-button uk-button-default dk-mobile-buttons">Назад</a>
      <div class="uk-margin-top uk-visible@s">
        <span>
          <b>Доступные тэги:</b>
          {% for tag in available_tags %}
            <a href="/diary/tags/{{ tag.name }}" class="dk-a" target="_blank">
              {{ tag.name }}
            </a>
          {% endfor %}
        </span>
      </div>
    </div>
  </form>

</div>
{% endblock %}
