{% extends "diary/detail.html" %}
{% load static i18n %}

{% block js %}
<script src="{% static 'js/diary/diary.js' %}" charset="utf-8"></script>
<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
<script src="{% static 'js/diary/edit.js' %}" charset="utf-8"></script>
<script type="text/javascript">
document.addEventListener('keydown', function(e) {
  // Esc - submit form
  if (e.keyCode == 27) {
    e.preventDefault();
    document.getElementById('entry_form').submit();
  }
});
</script>
{% endblock %}

{% block entry-date %}
<div class="entry-date">
  {{ dt|date:'F d, Y (l)' }}
</div>
{% endblock %}

{% block page_class %}
<div id="page">
{% endblock %}

{% block entry %}
<div class="entry">
  <div class="entry-buttons">
    <input type="submit" name="" value="Сохранить" class="btn primary" id="save">
    <input type="hidden" name="done" id="done" value="{% if entry.done %}on{% endif %}">
    <button type="button" name="button" class="btn {% if entry.done %}primary{% endif %}" id="is_ready">
      <img src="{% static 'images/signs/done_white.svg' %}" alt="">
    </button>
  </div>
  <div class="entry-text">
    <textarea id="text" placeholder="Введите текст" name="text">{{ entry.text }}</textarea>
  </div>
</div>
{% endblock %}

{% block right-menu %}
<div id="diary-tags">
  <div>
    <h2>Тэги</h2>
    <p>Нажми на тэг, чтобы добавить его</p>
  </div>
  {% for tag in tags %}
    <button type="button" name="button" class="btn tag">{{ tag }}</button>
  {% endfor %}
  <button type="button" name="button" class="btn tag">+ фото</button>
</div>
{% endblock %}

{% block file_upload %}
<br>
{% endblock %}
