{% extends "base.html" %}
{% load static i18n %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/diary/index.css' %}">

<style media="screen">
{% with menu|get_color:active_menu as color %}
.dk-blog-header:hover {
  color: {{ color.accent }};
  text-decoration: none;
}
.dk-week a.active {
  background-color: {{ color.accent }};
}
.dk-week a.active:hover {
  background-color: {{ color.darker }};
}
.dk-week-bold span {
  color: {{ color.accent }};
}
{% endwith %}
</style>

{% endblock %}

{% block body %}

{# Menu #}
{% include 'components/menu.html' %}

<div class="uk-container uk-container-small">

  {% if not request.user.is_staff %}
    <div style="text-align: center;">
      <h2>И что вы здесь забыли? Вам сюда нельзя.</h2>
      <a href="/" class="uk-button uk-button-default">Уже ухожу...</a>
    </div>
  {% else %}
  <div class="uk-grid">
    <div class="uk-width-2-3@m dk-calendar-info">
      <div class="uk-margin-bottom">
        <a class="dk-bold dk-blog-header active">Личный дневник {{ request.user.username }}</a>
      </div>
      {% include "diary/extra/day_info.html" with info=last_days.0 %}
      {% include "diary/extra/day_info.html" with info=last_days.1 %}
      {% include "diary/extra/day_info.html" with info=last_days.2 %}
      {% include "diary/extra/day_info.html" with info=last_days.3 %}
      {% include "diary/extra/day_info.html" with info=last_days.4 %}
      {% include "diary/extra/day_info.html" with info=last_days.5 %}
    </div>

    <div class="uk-width-1-3@m dk-month-preview">
      <div>
        <h2>{{ current.date|date:"F Y" }}</h2>
        <div class="dk-week dk-week-bold">
          <span>ПН</span>
          <span>ВТ</span>
          <span>СР</span>
          <span>ЧТ</span>
          <span>ПТ</span>
          <span>СБ</span>
          <span>ВС</span>
        </div>
        <div class="dk-week">
          {% for day in days  %}
            {% if day == '-' %}
            <span></span>
            {% else %}
            <a href="{% url 'diary:detail' date=day.0 %}" class="{% if current.day == day.0.day %}active{% endif %} {% if day.1 %}filled{% endif %}">{{ day.0|date:'d' }}</a>
            {% endif %}
          {% endfor %}
        </div>
        <div class="uk-margin-small-top">
          <a href="{% url 'diary:calendar' %}" class="uk-button uk-button-text dk-all-dates">
            Открыть календарь
          </a>
        </div>
        <hr>
        {% for tag in available_tags %}
        <a href="/diary/tags/{{tag.name}}" class="dk-a">#{{tag.name}}</a>
        {% endfor %}
        <div class="uk-margin-small-top">
          <a href="{% url 'diary:tags' %}" class="uk-button uk-button-text dk-all-dates">
            Все теги
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
<br>
{% endblock %}
