{% extends "base.html" %}
{% load static i18n %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/diary.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/diary/diary.js' %}" charset="utf-8"></script>
{% endblock %}

{% block body %}

{# Sections links #}
<div class="container slider-container">
  <div class="scrollable-h1">
    <a href="{% url 'diary:index' %}">Дневник</a>
    <a href="{% url 'diary:search' %}" class="active">Поиск</a>
    <a href="{% url 'diary:tags' %}">Тэги</a>
  </div>
</div>

{# Main #}
<div class="container">
  <form class="center" action="{% url 'diary:search' %}" method="post">
    {% csrf_token %}
    <input type="text" name="query" class="text-input" value="{{ query }}" placeholder="Что искать будем?">
    <select class="select-input" name="month">
      {% for month in months %}
        <option value="{{ forloop.counter }}"
        {% if forloop.counter == selected_month %}selected{% endif %}>
        {{ month }}
      </option>
      {% endfor %}
      <option value="13" {% if selected_month == 13 %}selected{% endif %}>Весь год</option>
    </select>

    <select class="select-input" name="year">
     {% for year in years %}
       <option {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
     {% endfor %}
    </select>

    <input type="submit" name="" value="Найти записи" class="btn primary">
    {% if query %}
    <br>
    <div class="btn">Найдено: {{ found_amount }}</div>
    {% endif %}
    <br><br>
  </form>

  <div class="">
    {% for entry in entries %}
      <div class="calendar-item">
        <a href="{% url 'diary:edit' date=entry.0 %}" class="calendar-title">
          {{ entry.0|date:'F d, Y' }}
        </a>
        <div class="calendar-subtitle">{{ entry.0|date:'l' }}</div>
        {% if entry.1 and entry.1.text %}
        <div class="entry calendar-entry">
          {% autoescape off %}
            {{ entry.1.html }}
          {% endautoescape %}
        </div>
        {% endif %}
        {% if entry.1.files.exists %}
        <div class="">
          <span class="bold">Файлы: </span>
          {% for file in entry.1.files.all  %}
          <a href="{{ file.url }}" target="_blank" class="btn tag">{{ file.name }}</a>
          {% endfor %}
        </div>
        {% endif %}
        {% if entry.1.text or entry.1.files.exists %}
        <br>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
