/* Notifications */
.uk-notification-message {
  background-color: #222;
  color: #f0f0f0;
  font-size: 14px;
}

/* Main settings */
body, html {
  height: 100%;
  background: #fefefe;
}

h2 {
  position: relative;
}

.dk-menu-br {
  padding-bottom: 120px;
}

@media screen and (max-width: 640px) {
  .dk-menu-br {
    padding-bottom: 80px;
  }
}

/* Menu */

.uk-navbar-nav>li {
  position: relative;
  z-index: 1 !important;
}

.uk-card {
  z-index: 10;
  box-shadow: 0px 0px 3px #15171a87;
}
.uk-padding {
  z-index: 10;
}
.uk-navbar-nav>li.active::after {
  content: '';
  width: calc(100% - 30px);
  height: 2px;
  position: absolute;
  bottom: 20px;
  transition: all 0.3s ease;
  margin-left: 15px;
}

.dk-navbar-active {
  font-size: 16px !important;
}

.dk-menu-link {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dk-menu-link.active {
  color: black;
}

.noselect:focus {
   outline: none;
}
