/* Notifications */
.uk-notification-message {
  background-color: #222;
  color: #f0f0f0;
  font-size: 14px;
}

/* Main settings */
body {
  height: 100%;
  background: #fefefe;
}

h2 {
  position: relative;
}

.dk-menu-br {
  padding-bottom: 120px;
}

@media screen and (max-width: 640px) {
  .dk-menu-br {
    padding-bottom: 80px;
  }
}

/* Menu */

.uk-navbar-nav>li {
  position: relative;
  z-index: 1 !important;
}

.uk-card {
  z-index: 10;
}

.uk-padding {
  z-index: 10;
}
.uk-navbar-nav>li.active::after {
  content: '';
  width: calc(100% - 30px);
  height: 4px;
  position: absolute;
  bottom: 20px;
  transition: all 0.3s ease;
  margin-left: 15px;
}

.dk-navbar-active {
  font-size: 16px !important;
}

.dk-menu-link {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dk-menu-link.active {
  color: #fff;
  font-weight: bold;
}
.dk-menu-link, .dk-menu-link:active, .dk-menu-link:focus {
  color: #eee;
}
.uk-modal-close-full {
  color: #fff;
  top: 10px;
  right: 10px;
}

.noselect:focus {
   outline: none;
}

.dk-like {
  font-size: 18px !important;
  font-weight: 100;
  cursor: pointer;
  transition: all 0.2s ease;
  padding-right: 18px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
.dk-like svg{
  padding-left: 0px;
  width: 17px;
  padding-bottom: 3px;
}
.dk-like:hover {
  color: #EE5270;
  transform: scale(1.3);
}

#dk-submenu {
  position: relative;
  padding-right: 30px;
  top: -15px;
}
#dk-submenu span {
  float: right;
}
#dk-submenu span a {
  margin-left: 20px;
  color: #666 !important;
}
#dk-submenu span a::before {
    border-bottom: 1px solid #666 !important;
}
