html, body {
  height: 100%;
  background: #f9f9fb;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.uk-modal-dialog {
  background: #f7f7fa;
}

#dk-toggle-submenu {
  background: #f9f9fb;
}

.dk-news-h2 {
  color: #333;
  transition: all 0.3s ease;
}

.dk-bold {
  font-weight: bold;
}

.dk-center {
  text-align: center !important;
}

.dk-bg-light {
  background: #fdfdfd;
}

.dk-shadow {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05) !important;
}

.dk-news-card {
  transition: all 0.3s ease;
}

.dk-news-card:hover {
  transform: translateY(-5px);
}

#dk-close {
  padding: 40px 60px;
  background: #fefefe;
  color: #333;
  transition: all 0.3s ease;
}

#dk-close:hover {
  transform: scale(1.5);
}

@media screen and (max-width: 640px) {
  #dk-close {
    padding: 20px 20px;
  }
  .uk-search-input {
    font-size: 16px !important;
  }

}

/* Menu */

.dk-menu-br {
  padding-bottom: 120px;
}

@media screen and (max-width: 640px) {
  .dk-menu-br {
    padding-bottom: 80px;
  }
}

.uk-navbar-nav>li {
  position: relative;
  z-index: 1 !important;
}

.uk-card {
  z-index: 10;
}

.uk-padding {
  z-index: 10;
}

.uk-navbar-nav>li.active {
  font-weight: bold;
}

.uk-navbar-nav>li.active::after {
  content: '';
  width: calc(100% - 30px);
  height: 4px;
  position: absolute;
  bottom: 20px;
  transition: all 0.3s ease;
  margin-left: 15px;
}

.dk-navbar-active {
  font-size: 16px !important;
}

.dk-menu-link {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dk-menu-link.active {
  color: #fff;
  font-weight: bold;
}

.dk-menu-link, .dk-menu-link:active, .dk-menu-link:focus {
  color: #eee;
}

.uk-modal-close-full {
  color: #fff;
  top: 10px;
  right: 10px;
}

.noselect:focus {
   outline: none;
}

/* Submenu */

#dk-submenu {
  position: relative;
  padding-right: 30px;
  top: -15px;
}
#dk-submenu span {
  float: right;
}
#dk-submenu span a {
  margin-left: 20px;
  color: #666 !important;
}
#dk-submenu span a::before {
    border-bottom: 1px solid #666 !important;
}

.dk-search-mobile {
  top: 10px;
  left: 10px;
  position: absolute;
  color: #fff;
  padding: 16px;
}

.dk-footer img {
  max-width: 64px;
  max-height: 64px;
}

.dk-footer {
  border-top: 1px solid #EAECEF;
  padding-top: 25px;
  margin-bottom: 20px;
}

.dk-footer-part {
  padding-top: 18px;
}

#footer-dk {
  text-align: left;
  font-size: 14px;
}

#footer-social {
  text-align: right;
}

#footer-social a {
  margin-left: 10px;
}

/* On small screen */
@media screen and (max-width: 640px) {
  #footer-dk {
    font-size: 10px;
  }
  #footer-social a {
    margin-left: 2px;
  }
}
