/* Main and grid */

html {
  font-family: 'Avenir Next Cyr';
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}
.pure-g [class*=pure-u] {
  font-family: 'Avenir Next Cyr';
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 900px;
}
.center {
  text-align: center;
}

/* Buttons */

.dk-button {
  padding: 7px 22px;
  border-radius: 22px;
  border: none;
  margin: 5px 5px;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  transition: background 0.3s ease;
  text-align: center;
}
.dk-fw-button {
  width: auto;
  display: block;
}
.dk-button:focus {
  outline: none;
}

/* Inputs */

.dk-text-input {
  padding: 6px 18px;
  border: none;
  margin: 5px;
  border-radius: 20px;
  transition: box-shadow 0.2s ease;
}
.dk-text-input:focus {
  outline: none;
}
.dk-fullwidth {
  width: calc(100% - 44px);
}

/* Mobile */

.mobile-hidden{
  display: inline-block !important;
}
.mobile-visible{
  display: none !important;
}

@media only screen and (max-width: 567px) {
   .mobile-hidden{
     display: none !important;
   }
   .mobile-visible{
     display: inline-block !important;
   }
}
