/* Background */

body, html {
  height: 100%;
}

.dk-background {
  background-image: url("../images/index_bg.jpg");
  height: 100%;
}

/* Quote in center */

.dk-quote {
  font-weight: 300;
  padding: 45px;
  transition: all 0.7s ease;
}

.dk-quote p:first-child {
  font-size: 24px;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  .dk-quote p:first-child {
    font-size: 20px;
  }
}

.dk-quote p:last-child {
  float: right;
  font-style: italic;
}

/* Navigation bar */

.uk-navbar-container {
  opacity: 0;
  transition: 0.5s all ease;
}

.uk-navbar-nav>li>a {
  color: #333;
}

/* Search */

#dk-close {
  padding: 40px 60px;
}
