.dk-card-date {
  font-size: 12px;
  font-weight: 100 !important;
  margin: 0px 0px 10px 0px;
}

.dk-hidden-login {
  width: 100%;
  padding: 20px 0px;
  text-align: center;
  color: #999;
  max-width: 100%;
  display: block;
  background: #f7f7f7;
}

.dk-tag {
  border-radius: 4px;
  cursor: default;
  font-size: 9px;
  margin-right: 6px;
  padding: 5px 10px;
  text-transform: uppercase;
}
