/* ID */

#menu-logo {
  width: 66px;
  display: inline-block;
}
#menu-search {
  width: 24px;
  height: 18px;
}
#menu-search img {
  position: absolute;
  top: 5px;
}
#login-btn {
  float: right;
}
#user-image {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  float: right;
  transition: transform 0.3s ease;
}
#user-image:hover {
  transform: scale(1.1);
}

#menu-right-gradient, #menu-left-gradient {
  display: none;
  width: 12px;
  height: 70px;
  position: absolute;
  top: 0;
  z-index: 10;
}
#menu-right-gradient {
  right: -1px;
}
#menu-left-gradient {
  left: 0px;
}
#menu-items {
  padding: 15px 0px !important;
}
#auth-btn {
  padding: 10px 0px !important;
}

/* CLASSES */

.menu {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 14px;
}
.menu div {
  position: relative;
}
.pure-menu-link {
  border-radius: 20px;
  transition: background 0.3s ease;
}

.mobile-menu {
  text-align: right;
}
.mobile-menu a {
  display: inline-block;
  padding: 13px 5px;

}
.mobile-menu a img {
  width: 28px;
  height: 28px;
}

/* MEDIA */
@media only screen and (max-width: 700px) {
  .menu {
    padding-top: 10px;
    padding-bottom: 0px;
  }
  #menu-logo{
    width: 55px;
  }
}
