/* Track card */

.uk-card {
  padding-left: 0px;
  box-shadow: none;
}

/* Track information */

.dk-track-name {
  margin-bottom: 0px;
  font-family: 'Open Sans', Arial;
  font-size: 32px;
}

.dk-track-year {
  font-size: 16px;
  color: #999 !important;
  margin-top: 0px;
  margin-bottom: 10px;
}

.dk-track-description {
  padding-bottom: 20px;
}

/* "Details" button on desktop version */

.dk-desktop-details {
  margin-left: 30px;
}

/* "Details" button on mobile version */

.dk-mobile-details {
  padding: 0px 13px;
  margin-left: 5px;
}

/* Artist */

.dk-artist-name {
  font-weight: 300;
}

/* MEDIA STYLES =========================================================== */

/* Less than 800px */

@media screen and (max-width: 800px) {
  .dk-track-description {
    font-size: 13px;
  }
  .dk-track-name {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

/* Less than 640px */

@media screen and (max-width: 640px) {
  .dk-track-year {
    display: none;
  }
  .dk-desktop-details {
    display: none;
  }
  .uk-card-body {
    padding: 15px;
  }
}

/* More than 640px */

@media screen and (min-width: 640px) {
  .dk-mobile-details {
    display: none;
  }
}

/* Less than 1200px */

@media screen and (max-width: 1200px) {
  .uk-card {
    margin-left: 30px;
  }
}

/* Less than 450px - iPhone SE screen */

@media screen and (max-width: 450px) {
  .dk-track-description {
    display: none;
  }
  .dk-track-name {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
