{% extends "base.html" %}
{% load static i18n %}


{% block css %}
<link rel="stylesheet" href="{% static 'css/player.css' %}">
<style media="screen">
.album-image {
  text-align: center;
}
.album-image img {
  width: 100%;
}
.album-name {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 15px;
}
.album-info {
  padding-bottom: 5px;
}
.tracks {
  padding-top: 20px;
}
.track {
  padding: 10px 5px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: all 0.3s ease;
}
.track:hover {
  color: {{ colors.main }};
}
.track.active {
  font-weight: bold;
  color: {{ colors.main }};
}
.track.paused {
  font-weight: bold;
  color: #777;
}
.track:last-child {
  border-bottom: none;
}
.tracks-help {
  font-size: 14px;
  padding-top: 20px;
  color: #777;
}
@media only screen and (min-width: 567px) {
  .album-image {
    text-align: left;
  }
  .album-image img {
    width: 90%;
  }
}
</style>
{% endblock %}

{% block js %}
<script src="{% static 'js/music/player.js' %}" charset="utf-8"></script>
{% endblock %}

{% block body %}

<div class="container slider-container">
  <div class="scrollable-h1">
    <a href="{% url 'music:index' %}" class="active">Альбомы</a>
    <a href="{% url 'music:tracks' %}">Треки</a>
    <a href="#">FAQ</a>
  </div>
</div>

<div class="container">
  <div class="pure-g">
    <div class="pure-u-1-1 pure-u-sm-1-3">
      <div class="album-image">
        {% if album.image %}
        <img src="{{ album.image.url }}" alt="">
        {% else %}
        <img src="{% static 'images/nophoto_wide.jpg' %}" alt="">
        {% endif %}
      </div>
    </div>
    <div class="pure-u-1-1 pure-u-sm-2-3">
      <div class="album-info">
        <div class="album-name">
          {{ album.name }}
        </div>
        <div class="album-info">
          <b>Год:</b> {{ album.year }}
        </div>
        <div class="album-info">
          <b>Длительность:</b> {{ album.displayed_duration }}
        </div>
        <div class="album-info">
          <b>Количество треков:</b> {{ album.tracks_count }}
        </div>
        {% if album.status %}
        <div class="album-info">
          <b>Статус:</b> {{ album.status }}
        </div>
        {% endif %}
        {% comment %}
          ❙❙►
        {% endcomment %}
        {% if request.user.is_superuser %}
        <a href="{{ album.admin_changelink }}" class="withhover">Изменить описание</a>
        {% endif %}
      </div>
      <div class="tracks">
        {% for track in album.tracks.all %}
          <div class="track pure-g" onclick="playTrack(this);" data-src="{{ track.file.url }}">
            <div class="pure-u-2-24 track-number">
              {{ forloop.counter }}
            </div>
            <div class="pure-u-19-24">
              {{ track.name }}
            </div>
            <div class="pure-u-3-24" style="text-align: right;">
              {{ track.displayed_duration }}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="tracks-help md-hidden">
        Нажмите <b>Пробел</b>, чтобы воспроизвести/остановить трек.<br>
        Нажмите стрелки <b>влево/вправо</b>, чтобы перемотать трек.
      </div>
    </div>
  </div>
</div>
{% endblock %}
