{% extends "base.html" %}
{% load static i18n %}


{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/music/detail.css' %}">

{% endblock %}

{% block extrajs %}
<script src="{% static 'js/music/detail.js' %}" charset="utf-8"></script>
{% endblock %}

{% block body %}

{# Menu #}
{% include 'components/menu.html'%}

<div class="uk-container">
  <div class="uk-grid">
    <div class="uk-width-1-3@l uk-width-1-3@m uk-width-2-5@s dk-track-image-container">
      {% if track.image %}
      <img src="{{ track.image.url }}" alt="" class="dk-track-image">
      {% endif %}
      <div class="uk-hidden@s">
        <h1 class="dk-track-name">{{ track.name }}</h1>
        <span class="dk-track-someinfo">{{ track.year }}</span>
      </div>
      <div class="dk-files">
        {% for track_file in track.music_files %}
          <div class="uk-padding uk-background-muted dk-file dk-music-file" data-track="track-{{ forloop.counter }}">
            <span id="play-track-{{ forloop.counter }}" uk-icon="icon: play; ratio: 1.4"></span>
            <span id="pause-track-{{ forloop.counter }}" uk-icon="icon: pause; ratio: 1.4" style="display: none;"></span>
            <span class="name">{{ track_file.file.name }}</span>
            <div class="dk-player-timeline">
              <!--HTML5 audio-->
              <audio id="track-{{ forloop.counter }}"
                {% if not forloop.last %}
                  data-next="track-{{ forloop.counter|add:'1' }}"
                {% endif %}
                {% if not forloop.first %}
                  data-prev="track-{{ forloop.counter|add:'-1' }}"
                {% endif %}
                  data-name="{{ track_file.file.name }}"
                preload="true">
                <source src="{{ track.file.data.url }}">
              </audio>
              <div class="dk-player-position"></div>
            </div>
          </div>
        {% endfor %}
        {% for track_file in track.other_files %}
          <a class="uk-padding uk-background-muted dk-file" href="{{ track_file.file.data.url }}">
            <span uk-icon="icon: download; ratio: 1.4"></span>
            <span class="name">{{ track_file.file.name }}</span>
          </a>
        {% endfor %}
        <a href="{% url 'music:index' %}#{{ track.slug }}" id="back-button" class="uk-visible@s uk-button uk-button-text">Назад</a>
      </div>
    </div>
    <div class="uk-width-2-3@l uk-width-2-3@m uk-width-3-5@s">
      <div class="uk-visible@s">
        <h1 class="dk-track-name">{{ track.name }}</h1>
        <span class="dk-track-someinfo">{{ track.year }}</span>
      </div>
      <div class="dk-description">
        {% autoescape off %}
          {{ track.full_description }}
        {% endautoescape %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
