{% extends "base.html" %}
{% load static i18n %}


{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/music/detail.css' %}">

{% endblock %}

{% block extrajs %}
<script src="{% static 'js/music/detail.js' %}" charset="utf-8"></script>
{% endblock %}

{% block body %}

{# Menu #}
{% include 'components/menu.html'%}

<div class="uk-container uk-container-small">
  <div class="uk-grid">
    <div class="uk-width-1-3@l uk-width-1-3@m uk-width-2-5@s dk-track-image-container">
      {% if track.image %}
      <img src="{{ track.image.url }}" alt="" class="dk-track-image">
      {% endif %}
      <div class="uk-hidden@s">
        <h1 class="dk-track-name">{{ track.name }}</h1>
        <span class="dk-track-someinfo">{{ track.year }}</span>
      </div>
      <div class="uk-margin-top">
        <a href="{% url 'music:index' %}#{{ track.slug }}" id="back-button" class="uk-visible@s uk-button uk-button-text">Назад</a>
      </div>
    </div>

    {# Right part #}
    <article class="uk-width-2-3@l uk-width-2-3@m uk-width-3-5@s">
      <div class="uk-visible@s">
        <h1 class="uk-article-title dk-bold">{{ track.name }}</h1>
        <p class="uk-article-meta">
          {{ track.year }}
          {% if request.user.is_superuser %}
          <a href="{{ track.admin_changelink }}" target="_blank" class="uk-icon-link" uk-icon="icon: pencil; ratio: 0.8" style="position: relative; top: -3px;"></a>
          {% endif %}
        </p>
      </div>
      {% if track.lead %}
      <p class="uk-text-lead">
        <i>{% autoescape off %}{{ track.lead }}{% endautoescape %}</i>
      </p>
      {% endif %}
      <div class="dk-description">
        {% autoescape off %}
          {{ track.full_description }}
        {% endautoescape %}
      </div>

      <div class="uk-margin-top uk-margin-bottom">
        <h3 style="margin-bottom: 10px;">Файлы</h3>
        <ul class="uk-nav uk-nav-default uk-margin-left">
          <li class="uk-nav-header">Музыка</li>

          {% for track_file in track.music_files %}
          <li>
            <span uk-icon="icon: play; ratio: 0.8" style="position: relative; top: -2px;"></span>
            <a href="{{ track_file.file.data.url }}" style="display: inline-block;">
              {{ track_file.file.name }}
            </a>
          </li>
          {% endfor %}

          <li class="uk-nav-divider"></li>

          <li class="uk-nav-header">Остальное</li>

          {% for track_file in track.other_files %}
          <li>
            <span uk-icon="icon: download; ratio: 0.8" style="position: relative; top: -2px;"></span>
            <a href="{{ track_file.file.data.url }}" style="display: inline-block;">
              {{ track_file.file.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </article>

  </div>
</div>

{% endblock %}
