{% extends "base.html" %}
{% load sass_tags static %}

{% block css %}
<link href="{% sass_src 'styles/pages/music.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<div class="container slider">
  <div class="scrollable-h1">
    <a href="{% url 'music:index' %}" class="active">Альбомы</a>
    <a href="{% url 'music:videos' %}">Каверы/репетиции</a>
    {# <a href="#">FAQ</a> #}
  </div>
</div>

<div class="container">
  <div class="pure-g">
    {% for album in albums %}
      <a class="album pure-u-1-1 pure-u-sm-1-3" href="{% url 'music:detail' album.slug %}">
        <div class="image">
          {% if album.image %}
          <img src="{{ album.thumbnail.url }}" alt="{{ album.name }}">
          {% else %}
          <img src="{% static 'images/nophoto_wide.jpg' %}" alt="No image">
          {% endif %}
          <div class="badges">
            {% if album.status %}<div class="new">{{ album.status }}</div>{% endif %}
          </div>
        </div>
        <div class="name">
          {{ album.name }}
        </div>
        <div class="info">
          <span>{{ album.tracks_count }} треков · {{ album.year }}</span>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
