{% extends "base.html" %}
{% load static i18n %}

{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/music/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/music/logo.css' %}">

{% endblock %}

{% block extrajs %}
  <script src="{% static 'js/music/index.js' %}" charset="utf-8"></script>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      {% for track in tracks %}
      $('#track-image-{{ forloop.counter }}').css('background-image', 'url({{ track.image.url}})');
      {% endfor %}
    });
  </script>
{% endblock %}

{% block body %}

{# Background #}
{% include "components/background.html" with image='images/music.jpg' %}

{% include 'components/menu.html' with v=3 sticky=True %}

<br>

  {% for track in tracks %}
    {% include 'components/track.html' with track=track %}
    {% if forloop.counter == 2 %}
      {% include "components/music/section_dnd.html" %}
    {% endif %}
    {% if forloop.counter == 3 %}
      {% include "components/music/section_help.html" %}
    {% endif %}
  {% endfor %}

  <div class="uk-section uk-section-secondary">
    <div class="uk-container">
      <div class="dk-dno">
          <h1>Вы достигли дна!</h1>
          <img src="{% static 'music/icons/fish.svg' %}" style="height: 80px;" alt="">
          <h2 class="dk-track-list">Список всех треков</h2>
          {% for track in tracks %}
            <a>{{ track.name }}</a>
          {% endfor %}
          <button type="button" name="button" class="uk-button uk-button-default">Всплыть на верх!</button>
      </div>

    </div>
  </div>

{% endblock %}
