{% extends "base.html" %}
{% load sass_tags static i18n %}

{% block css %}
<link href="{% sass_src 'styles/pages/music.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
<script src="{% static 'js/music/player.js' %}" charset="utf-8"></script>
{% endblock %}

{% block body %}
<div class="container slider">
  <div class="scrollable-h1">
    <a href="{% url 'music:index' %}">Альбомы</a>
    <a href="{% url 'music:videos' %}">Видео</a>
    <a href="{% url 'music:tracks' %}" class="active">Треки</a>
    {# <a href="#">FAQ</a> #}
  </div>
</div>

<div class="container">
  <div>
    <div class="tracks">
      <div class="track-header pure-g">
        <div class="pure-u-2-24 track-number">
          №
        </div>
        <div class="pure-u-10-24">
          Трек
        </div>
        <div class="pure-u-9-24 md-hidden">
          Альбом
        </div>
        <div class="pure-u-3-24" style="text-align: right;">
          Время
        </div>
      </div>
      {% for track in tracks %}
        <div class="track pure-g" onclick="playTrack(this);" data-src="{{ track.file.url }}">
          <div class="pure-u-2-24 track-number">
            {{ forloop.counter }}
          </div>
          <div class="pure-u-10-24">
            {{ track.name }}
          </div>
          <div class="pure-u-9-24 md-hidden">
            {{ track.album.name }}
          </div>
          <div class="pure-u-3-24" style="text-align: right;">
            {{ track.displayed_duration }}
          </div>
        </div>
      {% endfor %}
    </div>
    {% include "music/components/tracks_help.html" %}
  </div>
</div>
{% endblock %}
