{% extends "base.html" %}
{% load static i18n %}

{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'music/track_list.css' %}">
  <link rel="stylesheet" href="{% static 'music/dendynotdead.css' %}">

{% endblock %}

{% block extrajs %}
  <script src="{% static 'music/track_list.js' %}" charset="utf-8"></script>
{% endblock %}

{% block body %}

<div class="dk-background"></div>

{% include 'components/menu.html' with v=3 sticky=True %}

<br>

  {% for track in tracks %}
    {% include 'components/track.html' with track=track %}
    {% if forloop.counter == 2 %}
      {% include "components/music/section_dnd.html" %}
    {% endif %}
    {% if forloop.counter == 3 %}
      {% include "components/music/section_help.html" %}
    {% endif %}
  {% endfor %}

  <div class="uk-section uk-section-secondary">
    <div class="uk-container">
      <div style="position: relative; text-align: center;">
          <img style="max-width: 100px; max-height: 100px; position: absolute; bottom: 0px; left: 0px;" src="{% static 'music/icons/fish.svg' %}" uk-svg>
          <h1 style="font-weight: 600;">Вы достигли дна!</h1>
          <hr class="uk-divider-icon" style="background-image: url({% static 'music/icons/fish.svg' %}); height: 80px;">
          <p>Список всех треков</p>
          {% for track in tracks %}
            <p>{{ track.name }}</p>
          {% endfor %}
      </div>

    </div>
  </div>

{% endblock %}
