html, body {
  background: #1F2129;
  color: #ABB2BF;
}
.pure-menu-link:hover {
  background: #17181f;
}
.pure-menu-link {
  color: #ABB2BF;
}
.btn {
  background: #1c1d25;
  color: #666;
}
.btn:hover {
  background: #17181f;
}
.btn:active {
  background: #13141b;
}
#menu-right-gradient {
  background-image: linear-gradient(to right, rgba(31,33,41,0), #1F2129);
}
#menu-left-gradient {
  background-image: linear-gradient(to left, rgba(31,33,41,0), #1F2129);
}
#menu-logo {
  filter: invert(90%);
}
.text-input {
  background: #17181f;
}
.text-input::placeholder {
  color: #555;
}
