html, body {
  background: #f6f6f9 !important;
  color: #333;
}
.pure-menu-link {
  color: #555;
}
.pure-menu-link:hover {
  background: #eaeaf1;
}
a {
  color: #333;
}
.btn {
  background: #e0e0e4;
  color: #666;
}
.btn:hover {
  background: #d6d6da;
}
.large-tag:hover {
  background: #d6d6da;
}
.btn:active {
  background: #cdcddd;
}
#menu-right-gradient {
  background-image: linear-gradient(
    to right, rgba(246,246,249,0), rgba(246,246,249,1)
  );
}
#menu-left-gradient {
  background-image: linear-gradient(
    to left, rgba(246,246,249,0), rgba(246,246,249,1)
  );
}
.text-input::placeholder {
  color: #bbb;
}
.right-bar::after {
  box-shadow: -20px 0 20px -20px rgba(0,0,0,.25);
}
.left-bar::before {
  box-shadow: 20px 0 20px -20px rgba(0,0,0,.25);
}
.card-title {
  color: #333;
}
.card-text {
  color: #777;
}
.music-card-title {
  color: #333;
}
.graytext {
  color: #aaa;
}
a.graytext:hover {
  color: #777;
}
.series-info {
  background: #efeff4;
}
.series-info, .series-info.dk-h2, .series-item {
  color: #333;
}
footer {
  background: #f0f0f4;
}
