{% load sass_tags static %}

<div class="container">
  <div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-3 footer-block">
      <b>Соцсеточки</b>
      <a href="https://t.me/deniskrumko">телега</a>
      <a href="https://github.com/deniskrumko">гитхаб</a>
      <a href="https://stackoverflow.com/users/8805769/denis-krumko">стэк оверфлоу</a>
      <a href="https://zen.yandex.ru/deniskrumko">дзен</a>
      <a href="" onclick="alert('хаха, повелись)))')">онли фанс</a>
      <a href="https://www.instagram.com/deniskrumko/">не инстраграм</a>
      <a href="https://twitter.com/deniskrumko">не твиттер</a>
    </div>
    <div class="pure-u-1-1 pure-u-md-1-3 footer-block">
      <b>Ютуб каналы</b>
      <a href="https://www.youtube.com/channel/UCByZJxhmHycQ9NI3tYnodKw">denis krumko</a>
      <a href="https://www.youtube.com/user/dendynotdead">dendy not dead</a>
      <a href="https://www.youtube.com/channel/UCbVIrtVCFAuqsG28c2tBdkw">polystra music</a>
      <a href="https://www.youtube.com/channel/UC0JJ8zdWoSCEbt4aO7AymlA">tatina patina ❤️</a>
    </div>
    <div class="pure-u-1-1 pure-u-md-1-3 footer-block">
      <b>Копирайты</b>
      <div>
        Design, logo © 2022 Denis Krumko Inc;
        <br>user contributions licensed under blessing of
        our mighty Lord, <a href="{% url 'users:profile' %}" id="Jesus">Jesus Christ</a>
      </div>
    </div>
  </div>
  <br>
  <div class="btn faded wide sm-visible" style="padding-bottom: 10px;" onclick="scrollToTop();">
    Вернуться наверх 👆
  </div>
</div>
