{% load static %}

<div class="menu container pure-g">

  {# Logo #}
  <div class="pure-u-6-24 pure-u-sm-3-24">
    <a href="{% url 'main:index' %}">
      <img src="{% static 'images/logo_white.png' %}" alt="DK" id="menu-logo">
    </a>
  </div>

  {# Desktop menu #}
  <div class="pure-u-18-24 pure-u-sm-21-24 md-hidden noselect" id="desktop-menu-items">
    <a href="{% url 'main:index' %}" class="{% if active_menu == 'index'%}selected{% endif %}">
      ГЛАВНАЯ
    </a>
    <a href="{% url 'video:index' %}" class="{% if active_menu == 'video' %}selected{% endif %}">
      ВИДЕО
    </a>
    {% if request.user.is_staff %}
    <a href="{% url 'diary:index' %}" class="{% if active_menu == 'diary' %}selected{% endif %}">
      ДНЕВНИК
    </a>
    {% endif %}
    <a href="{% url 'music:index' %}" class="{% if active_menu == 'music' %}selected{% endif %}">
      МУЗЫКА
    </a>
  </div>

  {# Mobile header #}
  <div class="pure-u-18-24 pure-u-sm-21-24 md-visible">
    <div class="mobile-header">
      <a onclick="toggleMenu();">
        {% if active_menu == 'index'%}
        МЕНЮ
        {% endif %}
        {% if active_menu == 'video'%}
        ВИДЕО
        {% endif %}
        {% if active_menu == 'music'%}
        МУЗЫКА
        {% endif %}
        {% if active_menu == 'diary'%}
        ДНЕВНИК
        {% endif %}
        {% if active_menu == 'user'%}
        НАСТРОЙКИ
        {% endif %}
      </a>
    </div>
  </div>
</div>

<div id="mobile-menu">
  <div class="container">
    123
  </div>
</div>
