{% load static %}

<div class="menu container pure-g">

  {# Logo #}
  <div class="pure-u-6-24 pure-u-sm-3-24">
    <a href="{% url 'main:index' %}">
      <img src="{% static 'images/logo_white.png' %}" alt="DK" id="menu-logo">
    </a>
  </div>

  {# Desktop menu #}
  <div class="pure-u-18-24 pure-u-sm-21-24 md-hidden noselect" id="desktop-menu-items">
    <a href="{% url 'main:index' %}" class="{% if active_menu == 'index'%}selected{% endif %}">
      ГЛАВНАЯ
    </a>
    <a href="{% url 'video:index' %}" class="{% if active_menu == 'video' %}selected{% endif %}">
      ВИДЕО
    </a>
    {% if request.user.is_staff %}
    <a href="{% url 'diary:index' %}" class="{% if active_menu == 'diary' %}selected{% endif %}">
      ДНЕВНИК
    </a>
    {% endif %}
    <a href="{% url 'music:index' %}" class="{% if active_menu == 'music' %}selected{% endif %}">
      МУЗЫКА
    </a>
  </div>

  {# Mobile header #}
  <div class="pure-u-18-24 pure-u-sm-21-24 md-visible">
    <div id="mobile-header">
      <a class="noselect" onclick="toggleMenu();">
        {% if active_menu == 'index'%}
        МЕНЮ
        {% endif %}
        {% if active_menu == 'video'%}
        ВИДЕО
        {% endif %}
        {% if active_menu == 'music'%}
        МУЗЫКА
        {% endif %}
        {% if active_menu == 'diary'%}
        ДНЕВНИК
        {% endif %}
        {% if active_menu == 'user'%}
        НАСТРОЙКИ
        {% endif %}
      </a>
    </div>
  </div>
</div>

<div id="mobile-menu">
  <div class="container">
    <br>
    <div class="menu-boy">
      Посмотрим, что у нас в меню... 🧑‍🍳
    </div>
    <div class="pure-g">
      <div class="pure-u-1-1">
        <a href="{% url 'main:index' %}"
        class="btn {% if active_menu == 'index'%}primary{% else %}lined{% endif %}">
          ГЛАВНАЯ
        </a>
      </div>
      <div class="pure-u-1-1">
        <a href="{% url 'video:index' %}"
        class="btn {% if active_menu == 'video' %}primary{% else %}lined{% endif %}">
          ВИДЕО
        </a>
      </div>
      {% if request.user.is_staff %}
      <div class="pure-u-1-1">
        <a href="{% url 'diary:index' %}"
        class="btn {% if active_menu == 'diary' %}primary{% else %}lined{% endif %}">
          ДНЕВНИК
        </a>
      </div>
      {% endif %}
      <div class="pure-u-1-1">
        <a href="{% url 'music:index' %}"
        class="btn {% if active_menu == 'music' %}primary{% else %}lined{% endif %}">
          МУЗЫКА
        </a>
      </div>
    </div>
    <br>
  </div>
</div>
