{% extends "base.html" %}
{% load sass_tags static %}

{% block css %}
<link href="{% sass_src 'styles/pages/blog.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

{% if not item.is_active %}
  {# Show special message if blog is inactive #}
  {% include "blog/404.html" %}
{% else %}
  {% if item.is_series %}
  <div class="video-series-info">
    <div class="container">
      <div class="pure-g">
        <div class="pure-u-1-1 pure-u-md-18-24">
          {% if item.video.source == 'youtube' %}
          <div style="position:relative;padding-top:56.25%;">
            <iframe src="https://www.youtube.com/embed/{{ item.video.youtube_link }}" frameborder="0" allowfullscreen
              style="position:absolute;top:0;left:0;width:100%;height:100%;">
            </iframe>
          </div>
          {% else %}
          <video controls poster="
          {% if item.video.poster %}
          {{ item.video.poster.url }}
          {% else %}
          {% static 'images/nophoto_wide.jpg'%}
          {% endif %}">
            <source src="{{ video_src }}" type="video/mp4">
            Ваш браузер не поддерживает HTML5
          </video>
          {% endif %}
        </div>
        <div class="pure-u-1-1 pure-u-md-6-24">
          <div class="series-info">
            <div class="subtitle">Серия видео
            {% if request.user.is_superuser %}
            <a href="{{ item.series.admin_changelink }}">(Изменить)</a>
            {% endif %}</div>
            <div class="title">
              {{ item.series.name }}
            </div>
            <div class="items">
              {% for series_item in item.series.items.all %}
                <a class="item {% if series_item.entry.slug == item.slug %}active{% endif %}" href="{% url 'video:detail' series_item.entry.slug %}{% if current_page %}?page={{current_page}}{% endif%}">
                  <div class="counter">{{ forloop.counter }}</div>
                  {{ series_item }}
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% elif item.video.source == 'youtube' %}
  <div class="youtube-video">
    <div class="container">
      <div class="youtube-div">
        <iframe src="https://www.youtube.com/embed/{{ item.video.youtube_link }}" frameborder="0" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
  {% else %}
  <div class="video-info">
    <div class="container">
    <video controls poster="
    {% if item.video.poster %}
    {{ item.video.poster.url }}
    {% else %}
    {% static 'images/nophoto_wide.jpg'%}
    {% endif %}">
      <source src="{{ video_src }}" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
    </div>
  </div>
  {% endif %}

  <div class="container">
  <div class="blog-info">
    <div class="title dk-h1">
      {{ item.title }}
    </div>
    <div class="after-title">
      <div class="date">
        Опубликовано: {{ item.date_str }}
      </div>
      {% if item.video.source != 'youtube' %}
      <div class="quality noselect">
          Качество видео:
          {% for value in available_quality %}
            <a href="?quality={{ value }}{% if current_page %}&page={{current_page}}{% endif%}" {% if value == quality %}class="active"{% endif%}>{{ value }}</a>
          {% endfor %}
      </div>
      {% endif %}
    </div>
    {% if item.text %}
    <div class="text">
      {% autoescape off %}
        {{ item.text }}
      {% endautoescape %}
    </div>
    {% endif %}
  </div>
  <div class="buttons">
    <a href="{% url 'video:index' %}{% if current_page %}?page={{current_page}}{% endif %}#blog-{{ item.slug }}"
       class="btn primary">
       Назад
     </a>
     {% if request.user.is_superuser %}
     <a href="{{ item.admin_changelink }}" target="_blank" class="btn" style="margin-left: 10px;">Изменить</a>
     {% endif %}
  </div>

</div>
{% endif %}

{% endblock %}
