{% extends "base.html" %}
{% load sass_tags static i18n %}

{% block css %}
<link href="{% sass_src 'styles/pages/blog.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

{# Sections links #}
<div class="container slider">
  <div class="scrollable-h1">
    <a href="{% url 'blog:index' %}" class="active">Истории</a>
    <a href="#" onclick="alert('Пока раздел не готов...');">О проекте</a>
    {# <a href="{% url 'blog:about' %}">О проекте</a> #}
  </div>
</div>

<div class="container">
  {% if items %}
  <div class="pure-g">
    <div class="blog-items">
    {% for item in items %}
      <div class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3">
        <div class="blog-item" id="blog-{{ item.slug }}">
          <a class="blog-item-image"
             href="{% url 'blog:detail' item.slug %}?page={{current_page}}">
            <img src="{% static 'images/play.svg' %}" class="blog-play" alt="">
            {% if item.image %}
            <img src="{{ item.thumbnail.url }}" class="blog-item-img" alt="">
            {% else %}
            <img src="{% static 'images/nophoto_wide.jpg' %}" class="blog-item-img" alt="">
            {% endif %}
            <div class="badges">
              {% if item.is_new %}<div class="new">NEW</div>{% endif %}
              {% if item.duration %}
              <div class="badge">{{ item.duration }}</div>
              {% endif %}
            </div>
          </a>
          <div class="blog-item-subtitle">{{ item.subtitle }}</div>
          <div class="blog-item-date">{{ item.date }}</div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
  {% if paginator.num_pages > 1 %}
  <div class="pagination">
    <div>
      <a {% if prev_page %}href="?page={{ prev_page}}{% endif %}"
         class="page-nav {% if not prev_page %}inactive{% endif %}">
        <img src="{% static 'images/arrows/left.svg' %}">
      </a>
      {% for i in paginator.page_range %}
        <a href="?page={{ i }}"
           class="page-link {% if i == current_page %}active{% endif %}">
           {{ i }}
         </a>
      {% endfor %}
      <a {% if next_page %}href="?page={{ next_page}}{% endif %}"
         class="page-nav {% if not next_page %}inactive{% endif %}">
        <img src="{% static 'images/arrows/right.svg' %}">
      </a>
    </div>
  </div>
  {% endif %}
  {% else %}
  <h1>В блоге пока пусто...</h1>
  {% endif %}
</div>
{% endblock %}
