{% extends "base.html" %}
{% load sass_tags static i18n %}

{% block css %}
<link href="{% sass_src 'styles/pages/blog.scss' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}

{# Sections links #}
<div class="container slider">
  <div class="scrollable-h1">
    <a href="{% url 'blog:index' %}" class="active">Истории</a>
    {# <a href="{% url 'blog:about' %}">О проекте</a> #}
  </div>
</div>

<div class="container">
  {% if items %}

    <div class="pure-g">
      <div class="blog-items">
        {% for item in items %}
        <div class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-3">
          <a href="{% url 'blog:detail' item.slug %}" class="card secondary-card">
            <div class="image-box">
              <img src="{% if item.thumbnail %}{{ item.thumbnail.url }}{% else %}
            {% static 'images/nophoto_wide.jpg' %}{% endif %}" class="image" alt="">
            <div class="badges">
              {% if item.is_new %}<div class="new">NEW</div>{% endif %}
              {% if item.duration %}
              <div class="badge">{{ item.duration }}</div>
              {% endif %}
            </div>
            </div>
            <div class="subtitle">{{ item.subtitle }}</div>
            <div class="date">{{ item.date }}</div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  {% if paginator.num_pages > 1 %}
  <div class="pagination">
    <div>
      <a {% if prev_page %}href="?page={{ prev_page}}{% endif %}"
         class="page-nav {% if not prev_page %}inactive{% endif %}">
        <img src="{% static 'images/arrows/left.svg' %}">
      </a>
      {% for i in paginator.page_range %}
        <a href="?page={{ i }}"
           class="page-link {% if i == current_page %}active{% endif %}">
           {{ i }}
         </a>
      {% endfor %}
      <a {% if next_page %}href="?page={{ next_page}}{% endif %}"
         class="page-nav {% if not next_page %}inactive{% endif %}">
        <img src="{% static 'images/arrows/right.svg' %}">
      </a>
    </div>
  </div>
  {% endif %}
  {% else %}
  <h1>В блоге пока пусто...</h1>
  {% endif %}
</div>
{% endblock %}
