{% extends "base.html" %}
{% load static i18n %}

{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <style media="screen">
  {% with menu|get_color:active_menu as color %}
  .dk-news-h2:hover {
    text-decoration: none;
    color: {{ color.accent }};
  }
  {% endwith %}
  </style>
{% endblock %}

{% block extrajs %}
{% endblock %}

{% block body %}

{# Menu #}
{% include 'components/menu.html' %}

  <div class="uk-container uk-container-small">
    <h2 class="dk-opensans dk-bold">Все новости</h2>

    {% if items %}

    <div class="uk-child-width-1-2@s" uk-grid>
        {% for item in items %}
        <div>
            <div class="uk-dark dk-bg-light uk-padding dk-shadow dk-news-card">
                <h3 class="dk-opensans dk-bold uk-margin-remove-bottom">
                  <a class="dk-news-h2" href="{% url 'news:detail' item.slug %}">
                  {{ item.title }}
                  </a>
                </h3>
                <p class="dk-card-date">{{ item.date }}</p>
                {% autoescape off %}
                  {% if item.preview %}
                  {{ item.preview }}
                  {% else %}
                  {{ item.text }}
                  {% endif %}
                {% endautoescape %}
                {% include "components/news_tags.html" with htmltag="div" item=item margin=True%}
                <div class="uk-margin-small-top">
                  <a href="{% url 'news:detail' item.slug %}" class="dk-a">Посмотреть</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {# Back to main page #}
    <div class="uk-margin-medium-top dk-center">
      <a href="{% url 'main:index' %}" class="uk-button uk-button-default">На главную</a>
    </div>

    {% else %}
    <p>Новостей пока нет...</p>
    {% endif %}

  </div>
<br>
<br>
{% include "components/logo.html" %}
<a href="{% url 'users:login' %}" class="dk-hidden-login uk-hidden@s">
Войти в аккаунт
</a>

{% endblock %}
