/* DND logo */
.dk-logo {
  position: relative;
  cursor: pointer;
  text-align: center;
}

.dk-logo-inner {
  position: relative;
  display: inline-block;
  margin-top: 7px;
}

/* One logo line of 19 pixels */
.dk-logo-line {
  width: 190px;
}

/* One logo pixel */
.dk-logo-pixel {
  width: 10px;
  height: 10px;
  float: left;
  transition: all 0.3s ease;
}

.dk-logo-inner:hover .dk-logo-pixel{
  transform: scale(1.5);
}

/* Logo colors */
.dk-logo-white {
  background-color: #f8f8f8;
}

.dk-logo-red {
  background-color: red;
}
