.uk-navbar-nav>li.active::after {
    background-color: #f35d28;
}

.uk-navbar-nav>li.active>a {
    color: #f35d28;
}
.dk-navbar-active {
    color: #f35d28 !important;
}
.uk-navbar-nav>li>a {
  color: #ddd;
}
.uk-navbar-nav>li>a:hover {
    color: #f35d28;
}

body, html {
  height: 100%;
}

.dk-section-about {
  text-align: justify;
  color: #f8f8f8;
}

.dk-background {
  background-image: url("../music/music_bg.jpg");
  height: 50%;

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Track card */

.uk-card {
  padding-left: 0px;
  box-shadow: none;
}

/* Track information */

.dk-track-name {
  margin-bottom: 0px;
  font-family: 'Open Sans', Arial;
  font-size: 32px;
}

.dk-track-year {
  font-size: 16px;
  color: #999 !important;
  margin-top: 0px;
  margin-bottom: 10px;
}

.dk-track-description {
  padding-bottom: 20px;
}

/* "Details" button on desktop version */

.dk-desktop-details {
  margin-left: 30px;
}

/* "Details" button on mobile version */

.dk-mobile-details {
  padding: 0px 13px;
  margin-left: 5px;
}

/* Artist */

.dk-artist-name {
  font-weight: 300;
}


/* Player */

.dk-play-button {
  transition: all 0.3s ease;
  width: 104px;
  padding: 0;
}

.dk-play-button.active {
  background-color: #eee;
}

.dk-player-timeline {
  cursor: pointer;
  position: absolute;
  height: 0px;
  bottom: 0;
  right: 0;
  background-color: #ddd;
  transition: all 0.3s ease;
}

.dk-player-timeline.active {
  height: 7px;
}

.dk-player-position {
  width: 0;
  background-color: #ee0000;
  height: 7px;
  transition: all 0.3s ease;
}

.dk-player-time {
  font-family: 'Ubuntu';
  transition: all 0.5s ease;
  -webkit-font-smoothing: initial;
  font-weight: 400;
  position: absolute;
  opacity: 0;
  font-size: 13px;
  bottom: 10px;
  right: 7px;
}

.dk-section {
  margin-bottom: 35px;
}

.dk-section-about {
  text-align: justify;
  color: #f8f8f8;
}

.dk-section-white {
  text-align: left;
  color: #f8f8f8;
}

.dk-button {
  border: 1px solid #f8f8f8;
  border-radius: 3px;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px 5px;

}

.dk-button.space {
  padding: 3px 22px;
}

.dk-button.arrow {
  padding: 1px 5px;
}

.dk-track-container {
  margin-bottom: 15px;
  position: relative;
}

.dk-new {
  position: absolute;
  right: 65px;
  top: 20px;
  background: #de0000;
  z-index: 100;
}

/* MEDIA STYLES =========================================================== */

/* Less than 800px */

@media screen and (max-width: 800px) {
  .dk-track-description {
    font-size: 13px;
  }
  .dk-track-name {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

/* Less than 640px */

@media screen and (max-width: 640px) {
  .dk-track-year {
    display: none;
  }
  .dk-desktop-details {
    display: none;
  }
  .uk-card-body {
    padding: 15px;
  }
}

/* More than 640px */

@media screen and (min-width: 640px) {
  .dk-mobile-details {
    display: none;
  }
}

/* Less than 1200px */

@media screen and (max-width: 1200px) {
  .uk-card {
    margin-left: 30px;
  }
}

/* Less than 450px - iPhone SE screen */

@media screen and (max-width: 450px) {
  .uk-card-body {
    padding: 8px 15px;
  }
  .dk-track-description {
    display: none;
  }
  .dk-track-name {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .dk-player-time {
    bottom: -20px;
    right: 0;
  }
}
