.uk-navbar-nav>li.active::after {
    background-color: #f35d28;
}

.uk-navbar-nav>li.active>a {
    color: #f35d28;
}
.dk-navbar-active {
    color: #f35d28 !important;
}
.uk-navbar-nav>li>a {
  color: #ddd;
}
.uk-navbar-nav>li>a:hover {
    color: #f35d28;
}


body, html {
  height: 100%;
}

.dk-background {
  background-image: url("../music/music_bg.jpg");
  height: 350px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;

  width: 100%;
  z-index: -1;
}

.dk-head-container {
  position: absolute;
  top: 100px;
}

.dk-body-container {
  position: absolute;
  top: 400px;
  width: 100%;
}
.dk-track-name {
  font-size: 60px;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  font-family: 'Knewave', Arial;
}

.dk-track-year {
  font-size: 20px;
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.dk-track-image {
  max-width: 500px;
  width: 100%;
}

.dk-track-image-container {
  text-align: center;
  z-index: 1000;
}

.dk-description {
  margin-top: 170px;
}

.dk-file {
  display: block;
  color: #666;
  padding: 5px 15px;
  margin: 15px auto;
  max-width: 480px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: left;
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.dk-file:hover {
  background-color: #eee;
  text-decoration: none;
  color: #666;
}

.dk-file .name {
  line-height: 40px;
  vertical-align: middle;
  padding-left: 5px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.dk-player-timeline {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}

.dk-player-timeline.active {
  height: 7px;
  background-color: #ddd;
}

.dk-player-position {
  width: 0;
  background-color: #aaa;
  height: 7px;
  transition: all 0.3s ease;
}

.dk-player-position.active {
  background-color: #ee0000;
}
/* MEDIA STYLES =========================================================== */

/* Less than 800px */

@media screen and (max-width: 850px) {
  .dk-track-name {
    font-size: 50px;
  }
  .dk-file .name {
    font-size: 13px;
  }
}

/* Less than 640px */

@media screen and (max-width: 639px) {
  .dk-track-name {
    font-size: 35px;
    color: #222;
    text-shadow: none;
    padding-top: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  .dk-file .name {
    font-size: 14px;
  }
  .dk-description {
    margin-top: 25px;
  }
  .dk-track-year {
    font-size: 14px;
    margin: 0px;
    color: black;
    text-shadow: none;
    text-align: center;
  }
}

/* Less than 450px - iPhone SE screen */

@media screen and (max-width: 450px) {
  .dk-track-name {
    font-size: 38px;
  }
}
