.uk-navbar-nav>li.active::after {
    background-color: #f35d28;
}

.uk-navbar-nav>li.active>a {
    color: #f35d28;
}
.dk-navbar-active {
    color: #f35d28 !important;
}
.uk-navbar-nav>li>a {
  color: #ddd;
}
.uk-navbar-nav>li>a:hover {
    color: #f35d28;
}

body, html {
  height: 100%;
}

.dk-section-about {
  text-align: justify;
  color: #f8f8f8;
}

.dk-background {
  height: 350px;
  background-color: #1b1b1b;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.uk-divider-icon::before {
    right: calc(50% + (80px));
    width: 100%;
}

.uk-divider-icon::after {
    left: calc(50% + (80px));
    width: 100%;
}

.dk-dno {
  position: relative;
  text-align: center;
}

.dk-dno h1 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 40px;
}

.dk-dno h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.dk-dno a {
  display: block;
  color: #aaa !important;
  font-size: 16px;
  margin: 5px 0px;
}

.dk-dno button {
  margin-top: 30px;
  font-size: 16px;
  color: #666 !important;
  border-color: #666 !important;
  transition: all 0.3s ease !important;
}

.dk-dno button:hover {
  color: #999 !important;
  border-color: #999 !important;
  transform: translateY(-5px);
}
/* Track card */

.uk-card {
  padding-left: 0px;
  box-shadow: none;
}

/* Track information */

.dk-track-name {
  margin-bottom: 0px;
  font-family: 'Knewave', Arial;
  font-size: 44px;
}

.dk-track-year {
  font-size: 16px;
  color: #999 !important;
  margin-top: 0px;
  margin-bottom: 10px;
}

.dk-track-description {
  padding-bottom: 20px;
}

/* "Details" button on desktop version */

.dk-desktop-details {
  margin-left: 30px;
}

/* "Details" button on mobile version */

.dk-mobile-details {
  padding: 0px 13px;
  margin-left: 5px;
}

/* Artist */

.dk-artist-name {
  font-weight: 300;
}


/* Player */

.dk-play-button {
  transition: all 0.3s ease;
  width: 104px;
  padding: 0;
}

.dk-play-button.active {
  background-color: #eee;
  border-color: #eee;
}

.dk-play-button.active:hover {
  background-color: #ddd;
  border-color: #ddd;
}

.dk-player-timeline {
  cursor: pointer;
  position: absolute;
  height: 0px;
  bottom: 0;
  right: 0;
  background-color: #ddd;
  transition: all 0.3s ease;
}

.dk-player-timeline.active {
  height: 7px;
}

.dk-player-position {
  width: 0;
  background-color: #aaa;
  height: 7px;
  transition: all 0.3s ease;
}

.dk-player-position.active {
  background-color: #ee0000;
}

.dk-player-time {
  font-family: 'Ubuntu';
  transition: all 0.5s ease;
  -webkit-font-smoothing: initial;
  font-weight: 400;
  position: absolute;
  opacity: 0;
  font-size: 13px;
  bottom: 10px;
  right: 7px;
}

.dk-section {
  margin-bottom: 35px;
}

.dk-section-about {
  text-align: justify;
  color: #f8f8f8;
}

.dk-section-white {
  text-align: left;
  color: #f8f8f8;
}

.dk-button {
  border: 1px solid #f8f8f8;
  border-radius: 3px;
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px 5px;

}

.dk-button.space {
  padding: 3px 22px;
}

.dk-button.arrow {
  padding: 1px 5px;
}

.dk-track-container {
  margin-bottom: 15px;
  position: relative;
}

.dk-new {
  position: absolute;
  right: 55px;
  top: 15px;
  background: #de0000;
  z-index: 100;
}


/* MEDIA STYLES =========================================================== */

/* Less than 800px */

@media screen and (max-width: 800px) {
  .dk-track-description {
    font-size: 13px;
  }
  .dk-track-name {
    font-size: 30px;
    margin-bottom: 10px;
  }
}

/* Less than 640px */

@media screen and (max-width: 640px) {
  .dk-track-year {
    display: none;
  }
  .dk-desktop-details {
    display: none;
  }
  .dk-track-name {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .uk-card-body {
    padding: 15px;
  }
}

/* More than 640px */

@media screen and (min-width: 640px) {
  .dk-mobile-details {
    display: none;
  }
  .uk-card-body {
    padding-left: 25px;
    padding-right: 25px;
  }
}

/* Less than 1200px */

@media screen and (max-width: 1200px) {
  .uk-card {
    margin-left: 30px;
  }
}

/* Less than 450px - iPhone SE screen */

@media screen and (max-width: 450px) {
  .dk-track-description {
    display: none;
  }
  .dk-track-name {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .dk-player-time {
    bottom: -20px;
    right: 0;
  }
}
