.dk-cont {
  margin-top: 100px;
}

.dk-week {
  max-width: 300px;
}
.dk-week-bold {
  font-weight: bold;
}
.dk-week span {
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  font-size: 15px;
  vertical-align: middle;
  text-align: center;
}

.dk-week span.active {
  background-color: #00B5AD;
  border-radius: 32px;
  color: #fff;
}


.dk-calendar-info h1 {
  margin: 0px;
}

.dk-calendar-info h2 {
  font-size: 14px;
  color: #999;
  margin: 0px 0px 20px 0px;
}

.dk-calendar-day {
  display: block;
  color: #666;
  transition: all 0.3s ease;
}

.dk-calendar-day:hover {
  text-decoration: none;
  color: #666;
  background-color: #f0f0f0;;
}

.dk-all-dates {
  text-align: center;
  margin-top: 20px;
}
