@import "../_main";

h1 {
  font-size: 48px;
  margin: 0;
  display: inline-block;
}
.index-section-a:hover {
  h1 {
    color: $primary-color;
    text-decoration: underline;
  }
}

.index-icon {
  font-size: 48px;
  padding-left: 10px;
  display: inline-block;
}

#index-me {
  text-align: left;

  img {
    width: 100%;
    border-radius: $bradius;
    transition: transform 0.3s ease;
  }
  img:hover {
    transform: scale(1.05);
  }
}

.index-wide-block {
    margin-bottom: 50px;
}

.index-text {
  font-size: 20px;
  line-height: 30px;
  a {
    color: $primary-color;
  }
  a:hover {
    text-decoration: underline;
  }
}
.index-small-text {
  font-size: 16px;
  color: $dark-text;
}
.index-faded {
  margin-top: 5px;
  color: $faded-text;
}
.index-left-margin {
  margin-left: 40px;
}
.index-right-margin {
  margin-right: 10px;
}

.last-video,
.last-rep {
  position: relative;
  display: block;
  img {
    width: 100%;
    display: flex;
    position: relative;
    border-radius: $bradius;
    transition: transform 0.3s ease;
  }
  img:hover {
    transform: scale(1.05);
  }
}

.last-rep-box {
  margin: 5px;
}

.last-video-title {
  a {
    display: block;
    font-weight: bold;
    font-size: 32px;
    color: $text;
    padding-top: 15px;
  }
  a:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}

.index-links-block {
    margin-top: 30px;
    text-align: center;
    div {
        font-size: 18px;
        padding: 10px 30px;
        border-radius: $bradius;
        border: 1px solid $faded-text;
        display: inline-block;
    }
}
@media only screen and (max-width: 900px) {
  .index-left-margin {
    margin-left: 20px;
  }
  .index-text {
    font-size: 18px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 767px) {
  h1,
  .index-icon {
    font-size: 42px;
    margin-top: 10px;
  }
  .index-small-text {
    font-size: 16px;
  }

  .index-left-margin,
  .index-right-margin {
    margin: 0px;
  }

  .index-wide-block {
    margin-bottom: 30px;
    }
.last-video-title {
    margin-bottom: 20px;
    a {
        font-size: 30px;
    }
}
}
