@import "../_main";

// Index

.album {
  text-align: center;
  position: relative;
  padding-bottom: 20px;
  padding-top: 10px;

  .image {
    text-align: center;
    transition: transform 0.3s ease;
    position: relative;

    a {
      position: relative;
    }

    img {
      width: 80%;
    }

    .badges {
      position: absolute;
      right: 30px;
    }
  }

  .name {
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
    color: $text;
    transition: $color-trans;
  }

  .info {
    font-size: 14px;
    color: $darkest-text;
  }
}

.album:hover {
  .name {
    color: $primary-color;
  }
}

// Single album
.album-main-image {
  text-align: center;
  padding-right: 50px;

  a {
    position: relative;
  }

  img {
    width: 100%;
  }
}

.album-main-info {
  .name {
    font-size: 46px;
    font-weight: bold;
    padding-bottom: 15px;
    color: $text;
  }

  .info {
    font-size: 18px;
    padding-bottom: 5px;
    color: $text;
  }
}

.album-tracks-container {
  margin-top: 20px;
  padding: 20px 0px;
  background: $dark;
}

.album-tracks {
  .track {
    padding: 10px 5px;
    border-bottom: 1px solid $faded-text;
    cursor: pointer;
    transition: all 0.3s ease;
    color: $text;
    font-size: 18px;
  }

  .track:hover {
    color: $primary-color;
  }

  .track.active {
    font-weight: bold;
    color: $primary-color;
  }

  .track.paused {
    font-weight: bold;
    color: #777;
  }

  .track:last-child {
    border-bottom: none;
  }
}

.tracks-help {
  font-size: 14px;
  padding-top: 20px;
  color: $darkest-text;
}

@media only screen and (max-width: 567px) {
  .album-main-image {
    padding-right: 0px;

    .badges {
      top: -30px;
    }
  }

  .album-main-image img {
    width: 80% !important;
    padding-bottom: 20px;
  }

  .btn-controls .btn {
    width: 100%;
    margin: 0px 0px 10px 0px;
  }
}

.btn-controls {
  margin: 10px 0px;
}

// Tracks

.tracks {
  padding-top: 20px;

  .track-header {
    padding: 10px 5px;
    border-bottom: 2px solid #555;
    font-weight: bold;
    color: $text;
  }

  .track {
    padding: 10px 5px;
    border-bottom: 1px solid $faded-text;
    cursor: pointer;
    transition: $color-trans;
    color: $text;
  }

  .track:hover {
    color: $primary-color;
  }

  .track.active {
    font-weight: bold;
    color: $primary-color;
  }

  .track.paused {
    font-weight: bold;
    color: #777;
  }

  .track:last-child {
    border-bottom: none;
  }
}

// Player
.player {
  background: #F0F0F4;
  display: block;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 80px;
}

.player-line {
  background: #ccc;
  height: 5px;
  width: 100%;
  position: absolute;
  cursor: pointer;
  top: 0px;
}

.player-line-played {
  background: red;
  height: 5px;
  width: 30%;
  position: absolute;
  cursor: pointer;
  top: 0px;
  z-index: 1000;
}

// Videos

.music-video-container {
  background: $dark;
  margin: 0px 0px 40px 0px;
  padding: 20px 0px 10px 0px;
}

.music-video-type {
  color: $text;

  h1 {
    margin: 0;
  }

  p {
    color: $dark-text;
    margin-top: 5px;
    font-size: 18px;

    a {
      color: $primary-color;
    }
  }
}

.music-video-item {
  margin-bottom: 30px;
  padding: 5px;

  .music-video-item-image {
    display: block;
    position: relative;

    .music-video-play {
      position: absolute;
      height: 40px;
      opacity: 0;
      z-index: 30;
      transition: opacity 0.3s ease, transform 0.1s ease;
      left: 50%;
      top: 50%;
      margin-top: -20px;
      margin-left: -20px;
    }

    .music-video-item-img {
      width: 100%;
      background: #f0f0f3;
      transition: all 0.3s ease;
    }
  }

  .music-video-item-subtitle {
    margin-top: 4px;
    font-size: 16px;
    color: $text;
  }

  .music-video-item-date {
    margin-bottom: 16px;
    margin-top: 5px;
    font-size: 13px;
    color: $dark-text;
  }
}


.music-video-item-image:hover {
  .music-video-item-img {
    filter: brightness(55%);
  }

  .music-video-play {
    opacity: 1;
  }
}

.music-video-item-image:active {
  .music-video-play {
    transform: scale(0.9);
  }
}

.music-video-item:last-child {
  margin-bottom: 0px;
}

@media only screen and (max-width: 567px) {

  // Mobile
  .music-video-item-info {
    padding: 10px 0px;
  }
}
