@import "../_main";

.avatar {
  padding-top: 20px;
  img {
    width: 100px;
    border-radius: 100px;
  }
}

.submit-buttons div {
  background: $dark;
  padding: 5px;
  display: inline-block;
  border-radius: 22px;
  text-align: center;
}

@media only screen and (max-width: 567px) {
  .avatar {
    text-align: center;
  }
  .submit-buttons {
    text-align: center;
  }
}
