{% load static %}

<!DOCTYPE html>
<html>
  <head>
    {# META #}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="{{ website_description }}" />

    {# TITLE #}
    <title>{{ title }}</title>

    {# FAVICON #}
    {# <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" /> #}

    {# CSS #}
    <link rel="stylesheet" type="text/css" href="{% static 'uikit/css/uikit.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'menu/menu.css' %}">

    {# Google Fonts #}
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400|Open+Sans:800|Knewave" rel="stylesheet">

    {# EXTRA CSS #}
    {% block extrastyle %}{% endblock %}
  </head>

  {# BODY #}
  <body>
  {% block body %}

  {% endblock %}
  </body>

  {# JS #}

  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="{% static 'uikit/js/uikit.min.js' %}"></script>
  <script src="{% static 'uikit/js/uikit-icons.js' %}"></script>
  <script src="{% static 'menu/menu.js' %}"></script>

  {# EXTRA JS #}
  {% block extrajs %}{% endblock %}
</html>
