{% extends "base.html" %}
{% load static i18n %}

{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block extrajs %}
<script src="{% static 'js/index.js' %}" charset="utf-8"></script>

{% endblock %}

{% block body %}

  {# Background #}
  <div class="dk-background uk-background-fixed" uk-parallax="bgy: -150"></div>

  {# Desktop menu #}
  <div class="uk-container uk-container-small uk-position-top uk-visible@s">
    <nav class="uk-navbar-container uk-navbar-transparent" id="dk-desktop-navbar" uk-navbar uk-sticky="bottom: #offset">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Блог</a></li>
                <li><a href="music">Музыка</a></li>
                <li><a href="#">О себе</a></li>
                <li><a class="uk-navbar-toggle" href="#modal-full" uk-search-icon uk-toggle></a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a href="#">Войти</a></li>
            </ul>
        </div>
    </nav>
  </div>

  {# Mobile menu #}
  <div class="uk-container uk-position-top uk-hidden@s">
    <nav class="uk-navbar-container uk-navbar-transparent" id="dk-mobile-navbar" uk-navbar uk-sticky="bottom: #offset">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a>Главная</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
          <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-nav"></a>
        </div>
    </nav>
  </div>

  {# Mobile navigation menu #}
  <div class="uk-offcanvas-content">
    <div id="offcanvas-nav" uk-offcanvas="overlay: true; flip: true;">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-default">
                <li class="uk-active"><a href="#">Active</a></li>
                <li class="uk-parent">
                    <a href="#">Parent</a>
                    <ul class="uk-nav-sub">
                        <li><a href="#">Sub item</a></li>
                        <li><a href="#">Sub item</a></li>
                    </ul>
                </li>
                <li class="uk-nav-header">Header</li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
            </ul>

        </div>
    </div>
  </div>

  {# Search modal window #}
  <div id="modal-full" class="uk-modal-full uk-modal" uk-modal>
    <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
        <button class="uk-modal-close-full uk-close-large" type="button" id="dk-close" uk-close></button>
        <form class="uk-search uk-search-large">
            <input class="uk-search-input uk-text-center" type="search" placeholder="Что искать будем?" autofocus>
        </form>
    </div>
</div>

  {# Center smart quote #}
  <div class="uk-overlay uk-overlay-primary uk-position-center dk-quote" >
    <p id="dk-quote-text">Тут кароч нужно какую-нибудь умную цитату вставить</p>
    <p id="dk-quote-author">— Денис Крумко, 2018</p>
  </div>
  <br>
  <div class="uk-container uk-container-small ">
    <h2>Новости</h2>
    <div class="uk-child-width-1-3@m" uk-grid>
    <div>
      <div class="uk-dark uk-background-muted uk-padding">
          <h3>Dark</h3>
          <p>Lorem ipsum dolor sit amet,</p>
          <button class="uk-button uk-button-default">Button</button>
      </div>
    </div>
    <div>
        <div class="uk-dark uk-background-muted uk-padding">
            <h3>Dark</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="uk-button uk-button-default">Button</button>
        </div>
    </div>
    <div>
      <div class="uk-dark uk-background-muted uk-padding">
          <h3>Dark</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <button class="uk-button uk-button-default">Button</button>
      </div>
    </div>
    <div>
      <div class="uk-dark uk-background-muted uk-padding">
          <h3>Dark</h3>
          <p>Lorem ipsum dolor sit amet,</p>
          <button class="uk-button uk-button-default">Button</button>
      </div>
    </div>
    <div>
        <div class="uk-dark uk-background-muted uk-padding">
            <h3>Dark</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="uk-button uk-button-default">Button</button>
        </div>
    </div>
    <div>
      <div class="uk-dark uk-background-muted uk-padding">
          <h3>Dark</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <button class="uk-button uk-button-default">Button</button>
      </div>
    </div>
</div>
</div>

  </div>

{% endblock %}
