{% extends "base.html" %}
{% load static i18n %}

{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block extrajs %}
{% endblock %}

{% block body %}

{# Menu #}
{% include 'components/menu.html' %}

  <div class="uk-container uk-container-small ">
    <h2 class="dk-opensans dk-bold">Новости</h2>

    {% if news_items %}

    <div class="uk-child-width-1-2@s" uk-grid>
        {% for item in news_items %}
        <div>
            <div class="{% if forloop.counter == 1 %}uk-light uk-background-secondary{% else %}uk-dark uk-background-muted{% endif %} uk-padding">
                <h3 class="dk-opensans dk-bold uk-margin-remove-bottom">{{ item.title }}</h3>
                <p class="dk-card-date">{{ item.date }}</p>
                {% autoescape off %}
                  {{ item.text }}
                {% endautoescape %}
                {% if item.link %}
                <br>
                <br>
                <a class="uk-button uk-button-default uk-margin-right" href="{{ item.link }}">Посмотреть</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    {% else %}

    <p>Новостей пока нет...</p>

    {% endif %}


  </div>
<br>
<br>
{% include "components/logo.html" %}
<a href="{% url 'users:login' %}" class="dk-hidden-login uk-hidden@s">
Войти в аккаунт
</a>

{% endblock %}
