{% extends "base.html" %}
{% load static i18n %}

{% block js %}
  <script type="text/javascript">
  function hide_scroll_shadow(e) {
    if (document.documentElement.clientWidth > 950) {
      var max_width = e.scrollWidth - e.offsetWidth;
      var parent = e.parentElement;
      if (e.scrollLeft == 0) {
        parent.classList.remove('left-bar');
      } else if (e.scrollLeft == max_width) {
        parent.classList.remove('right-bar');
      } else {
        parent.classList.add('right-bar');
        parent.classList.add('left-bar');
      }
    }
  }
  </script>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body %}
<div class="container">
  <a href="{% url 'blog:index' %}" class="dk-h1">Блоги</a>
</div>
<div class="container slider-container">
  <div class="card-slider right-bar">
    <div class="card-slider-scroll" onscroll="hide_scroll_shadow(this)">
      {% for item in blog_items %}
      <div class="card-outer">
        <a class="card" href="{% url 'blog:detail' item.slug %}">
          <div class="card-images">
            <img src="{% static 'images/play.svg' %}" class="card-play" alt="">
            <img src="
            {% if item.thumbnail %}
            {{ item.thumbnail.url }}
            {% else %}
            {% static 'images/nophoto_wide.jpg' %}
            {% endif %}
            " class="card-image" alt="">
          </div>
          <div class="card-title">{{ item.title }}</div>
          <div class="card-text">{{ item.subtitle }}</div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="container">
  <a class="show-more graytext" href="{% url 'blog:index' %}">Посмотреть все блоги</a>
  <a href="{% url 'music:index' %}" class="dk-h1">Музыка</a>
</div>
<div class="container slider-container">
  <div class="card-slider right-bar">
    <div class="card-slider-scroll" onscroll="hide_scroll_shadow(this)">
      {% for i in range %}
      <div class="card-outer">
        <a class="music card" href="#">
          <div class="card-images">
            <img src="{% static 'images/play.svg' %}" class="card-play" alt="">
            <img src="{% static 'images/nophoto.jpg' %}" class="card-image">
          </div>
          <div class="music title">Darkness Imprisoning Me</div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="container">
  <a class="show-more graytext" href="{% url 'music:index' %}">Посмотреть все композиции</a>
</div>

{% endblock %}
