{% extends "base.html" %}

{% block body %}
{% include 'components/menu.html' %}
<div class="uk-container uk-container-small">
  <form class="uk-padding uk-background-muted " action="/login/?{{ request.META.QUERY_STRING }}" method="post">
    {% csrf_token %}
    <div class="" style="text-align: center;">
      <h3>Войти в аккаунт</h3>

      <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input uk-form-width-medium" type="text" name="username" placeholder="Имя пользователя">
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <input class="uk-input uk-form-width-medium" type="text" name="password" placeholder="Пароль">

        </div>
      </div>
      <input type="submit" value="Войти" class="uk-button uk-button-primary">
    </div>
  </form>

  <div style="text-align: center;">
    <br>
    <p style="color: #aaa;">Зарегистрироваться на сайте пока нельзя, увы. Не печальтесь</p>
  </div>
</div>


{% endblock %}
