{% extends "base.html" %}
{% load static i18n %}

{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block extrajs %}
{% endblock %}

{% block body %}

{# Menu #}
{% include 'components/menu.html' %}

  <div class="uk-container uk-container-small ">
    <h2 class="dk-opensans dk-bold">Все новости</h2>

    {% if items %}

    <div class="uk-child-width-1-2@s" uk-grid>
        {% for item in items %}
        <div>
            <div class="uk-dark uk-background-muted uk-padding">
                <h3 class="dk-opensans dk-bold uk-margin-remove-bottom">{{ item.title }}</h3>
                <p class="dk-card-date">{{ item.date }}</p>
                {% autoescape off %}
                  {{ item.text }}
                {% endautoescape %}
                {% if item.link %}
                  <br><br>
                  <a class="uk-button uk-button-default uk-margin-right" href="{{ item.link }}">Посмотреть</a>
                  {% include "components/news_tags.html" with htmltag="span" item=item %}
                {% else %}
                  {% include "components/news_tags.html" with htmltag="div" item=item margin=True %}
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

    {# Back to main page #}
    <div class="uk-margin-medium-top dk-center">
      <a href="{% url 'main:index' %}" class="uk-button uk-button-default">На главную</a>
    </div>

    {% else %}
    <p>Новостей пока нет...</p>
    {% endif %}

  </div>
<br>
<br>
{% include "components/logo.html" %}
<a href="{% url 'users:login' %}" class="dk-hidden-login uk-hidden@s">
Войти в аккаунт
</a>

{% endblock %}
