{% extends "base.html" %}
{% load static i18n %}

{% block extrastyle %}
{% endblock %}

{% block extrajs %}
{% endblock %}

{% block body %}

{# Menu #}

<div class="container">
  <h2>Поиск</h2>

  <form action="/search/" method="get" autocomplete="off">
    <div class="">
      <div class="">
        <input type="text" name="search_query" value="{% if search_query %}{{ search_query }}{% endif %}" class="dk-text-input" placeholder="Что искать будем?">
        <input type="submit" value="Найти" class="dk-button dk-main-button">
        <a href="/" class="dk-button">Назад</a>
      </div>
    </div>
  </form>

  {% if categories %}
    <div class="dk-center uk-margin-top">. . .</div>

    {% for category, items in categories.items %}
    <h2 class="dk-opensans dk-bold">{{ category }}</h2>
      <div uk-grid>
      {% for item in items %}
        <div class="uk-width-1-2@s">
          <div class="uk-dark dk-bg-light uk-padding dk-news-card">
            <h3 class="uk-card-title">{{ item.title }}</h3>
            <p>{{ item.preview }}</p>
            <a href="{{ item.url }}" target="_blank" class="uk-button uk-button-default">
              Перейти
            </a>
          </div>
        </div>
      {% endfor %}
      </div>
    {% endfor %}
  {% else %}
    {% if search_query %}
    <div class="dk-center uk-margin-top">
      <h2 class="dk-opensans dk-bold">Ничего не найдено ;(</h2>
      <img src="{% static 'images/travolta.gif' %}" alt="">
    </div>
    {% else %}
    <p>Это, конечно, не Google, но работает</p>
    {% endif %}
  {% endif %}
  <br>
  <br>
</div>

{% endblock %}
