// Main colors
$main: #1b1c1f;
$dark: #18191c;
$darken: #16171a;
$darkest: #111214;

// Text
$text: #e0e0e0;
$dark-text: #aaa;
$darkest-text: #777;
$faded-text: #333;

// Different
$red: #E06C75;
$new-badge: #e94e5a;

// Colors to override
$primary-color: #ff0000 !default;
$primary-color-dark: #ff0000 !default;
$primary-color-darkest: #ff0000 !default;
