  {# Desktop menu #}
  <div class="uk-container uk-container-small uk-position-top uk-visible@s">
    <nav class="uk-navbar-container uk-navbar-transparent" id="dk-desktop-navbar" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
              {# Main visible menu items #}
              {% for code, item in menu.items %}
                {% if item.visible %}
                <li {% if code == active_menu %}class="active"{% endif %}>
                  <a href="{{ item.url }}">{{ item.name}}</a>
                </li>
                {% endif %}
              {% endfor %}
              <li>
                <a class="uk-navbar-toggle" href="#modal-full" uk-search-icon uk-toggle></a>
              </li>
            </ul>
        </div>

        {# Right part of menu #}
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
              <button class="uk-button" type="button" id="dk-toggle-submenu">
                <span uk-icon="user"></span>
                {% if request.user.is_authenticated %}
                <span style="margin-left: 10px;">{{ request.user.username }}</span>
                {% endif %}
              </button>
            </ul>
        </div>
    </nav>

    {# Submenu #}
    <div class="" id="dk-submenu" style="display: none;">
      <span>
        {% if request.user.is_superuser %}
          {% for item in hidden_menu %}
          <a href="{{ item.url }}" class="uk-button uk-button-text">{{ item.name }}</a>
          {% endfor %}
        {% else %}
          <a href="{% url 'users:login' %}" class="uk-button uk-button-text">Войти</a>
        {% endif %}
      </span>
    </div>
  </div>

  {# Mobile menu #}
  <div class="uk-container uk-position-top uk-hidden@s">
    <nav class="uk-navbar-container uk-navbar-transparent" id="dk-mobile-navbar" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
              <li>
                <a class="dk-navbar-active" href="{{ menu|get_link:active_menu }}">
                  {{ menu|get_name:active_menu }}
                </a>
              </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
          <a class="uk-navbar-toggle dk-navbar-active" uk-navbar-toggle-icon href="#modal-sections" uk-toggle></a>
        </div>
    </nav>
  </div>

  {# Mobile menu - opened #}
  <div id="modal-sections" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
        <a class="dk-search-mobile" uk-icon="icon: search; ratio: 1.2" href="#modal-full" uk-toggle></a>
        <div class="uk-modal-body">
          <br>
            {# Main visible menu items #}
            {% for code, item in menu.items %}
              {% if item.visible %}
              <a href="{{ item.url}}" class="uk-button dk-menu-link uk-width-1-1 {% if code == active_menu %}active{% endif %}">
                {{ item.name }}
              </a>
              {% endif %}
            {% endfor %}

            {# Hidden menu items #}
            {% if request.user.is_superuser %}
              {% for item in hidden_menu  %}
              <a href="{{ item.url }}" class="uk-button dk-menu-link uk-width-1-1">
                {{ item.name }}
              </a>
              {% endfor %}
            {% endif %}

        </div>
    </div>
</div>

{# Search modal window #}

<div id="modal-full" class="uk-modal-full uk-modal" uk-modal>
  <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
      <button class="uk-modal-close-full uk-close-large" type="button" id="dk-close" uk-close></button>
      <form class="uk-search uk-search-large" action="/search/" method="get" autocomplete="off">
          {% csrf_token %}
          <input class="uk-search-input uk-text-center" type="text" name="search_query" placeholder="Что искать будем?" autofocus>
      </form>
  </div>
</div>

<div class="dk-menu-br"></div>
