{% load static %}

{% block css %}
  <style media="screen">
    .dk-active {
      color: {{ colors.main }};
    }
  </style>
{% endblock %}

<div class="dk-menu container pure-g">
  <div class="pure-u-6-24 pure-u-sm-3-24">
    <a href="{% url 'main:index' %}">
      <img src="{% static 'images/logo.png' %}" alt="DK" id="dk-menu-logo">
    </a>
  </div>
  <div class="pure-u-18-24 pure-u-sm-15-24">
    <div id="dk-menu-left-gradient"></div>
    <div id="dk-menu-right-gradient"></div>
    <div id="dk-menu-items" class="pure-menu pure-menu-horizontal pure-menu-scrollable">
      <ul class="pure-menu-list">
        <li class="pure-menu-item">
          <a href="{% url 'main:index' %}"
          class="pure-menu-link {% if active_menu == 'index' %}dk-active{% endif %}">
            ГЛАВНАЯ
          </a>
        </li>
        <li class="pure-menu-item">
          <a href="{% url 'blog:index' %}"
          class="pure-menu-link {% if active_menu == 'blog' %}dk-active{% endif %}">
            БЛОГ
          </a>
        </li>
        {% if request.user.is_staff %}
        <li class="pure-menu-item">
          <a href="{% url 'diary:index' %}"
          class="pure-menu-link {% if active_menu == 'diary' %}dk-active{% endif %}">
            ДНЕВНИК
          </a>
        </li>
        {% endif %}
        <li class="pure-menu-item">
          <a href="{% url 'music:index' %}"
          class="pure-menu-link {% if active_menu == 'music' %}dk-active{% endif %}">
            МУЗЫКА
          </a>
        </li>
        <li class="pure-menu-item mobile-visible">
          <a href="{% url 'main:search_index' %}"
          class="pure-menu-link {% if active_menu == 'search' %}dk-active{% endif %}">
            ПОИСК
          </a>
        </li>
        <li class="pure-menu-item mobile-hidden">
          <a href="{% url 'main:search_index' %}"
          id="dk-menu-search" title="Поиск" class="pure-menu-link">
            {% if active_menu == 'search' %}
            <img src="{% static 'images/search_active.svg' %}" alt="">
            {% else %}
            <img src="{% static 'images/search.svg' %}" alt="">
            {% endif %}
          </a>
        </li>
        <li class="pure-menu-item mobile-visible">
          {% if request.user.is_authenticated %}
          <a href="{% url 'users:logout' %}"
          class="pure-menu-link {% if active_menu == 'login' %}dk-active{% endif %}">
          @{{ request.user.username.upper }}
          </a>
          {% else %}
          <a href="{% url 'users:login' %}"
          class="pure-menu-link {% if active_menu == 'login' %}dk-active{% endif %}">
            ВОЙТИ В АККАУНТ
          </a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
  <div id="dk-auth-buttons" class="pure-u-sm-6-24 mobile-hidden">
    {% if request.user.is_authenticated %}
    <a class="dk-button" id="dk-login-button" href="{% url 'users:logout' %}">
      {{ request.user.username }}
    </a>
    {% elif active_menu != 'login' %}
    <a class="dk-button dk-main-button"
    id="dk-login-button" href="{% url 'users:login' %}">
      Войти
    </a>
    {% endif %}
  </div>
</div>
