p {
  margin: 0px;
}

.dk-entry {
  background-color: #fefefe;
  padding: 30px 20px;
  z-index: 1000;
  position: relative;
  font-size: 16px;
}

.dk-entry-text {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.dk-entry-date {
  font-weight: bold;
  font-size: 20px;
}

.dk-after {
  margin-top: 10px;
  margin-bottom: 100px !important;
}

.dk-edit-link {
  float: right;
  top: -4px;
  position: relative;
}

.dk-center-btn {
  text-align: center;
  margin-bottom: 20px;
}

.uk-icon-button {
  background: transparent;
  color: #00B5AD;
}

.uk-icon-button:hover {
  background: #00B5AD;
  color: #fff;
}

.dk-mobile-buttons {
  width: calc(50% - 2px);
}

.dk-breadcrumbs {
  position: relative;
  top: -5px;
  cursor: default;
}
.dk-breadcrumbs a {
  font-size: 12px;
  color: #999;
}
.dk-breadcrumbs a:hover {
  text-decoration: none;
  font-size: 12px;
  color: #333;
}

.dk-entry-daybutton {
  position: absolute;
  height: 100%;
  top: 0px;
  vertical-align: middle;
  padding-left: 30px;
  padding-right: 30px;
  color: #666;
  transition: 0.3s all ease;
}
.dk-entry-daybutton:hover {
  background: #ececf0;
  color: #19BC9C;
}
.dk-entry-daybutton span {
  padding-top: 35px;
}
.dk-entry-prev-day {
  left: -80px;
}
.dk-entry-next-day {
  right: -80px;
}
