p {
  margin: 0px;
}

.dk-entry {
  background-color: #fefefe;
  padding: 30px 20px;
  z-index: 1000;
  position: relative;
  font-size: 16px;
}

.dk-entry-text {
  font-size: 16px;
  font-weight: 400;
}

.dk-entry-date {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}

.dk-after {
  margin-top: 10px;
  margin-bottom: 100px !important;
}

.dk-edit-link {
  float: right;
}

.dk-center-btn {
  text-align: center;
  margin-bottom: 20px;
}

.uk-icon-button {
  background: transparent;
  color: #00B5AD;
}

.uk-icon-button:hover {
  background: #00B5AD;
  color: #fff;
}

.dk-mobile-buttons {
  width: calc(50% - 2px);
}

.dk-breadcrumbs {
  position: relative;
  top: -5px;
  cursor: default;
}
.dk-breadcrumbs a {
  font-size: 12px;
  color: #999;
}
.dk-breadcrumbs a:hover {
  text-decoration: none;
  font-size: 12px;
  color: #333;
}
