p {
  margin: 0px;
}

.dk-entry {
  background-color: #f7f7f7;
  padding: 30px 20px;
  z-index: 1000;
  position: relative;
  font-size: 16px;
}

.dk-entry-date {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px;
}

.dk-after {
  margin-top: 10px;
  margin-bottom: 100px !important;
  font-size: 12px;
  color: #999;
}

.dk-edit-link {
  float: right;
}

.dk-center-btn {
  text-align: center;
  margin-bottom: 20px;
}

.uk-icon-button {
  background: transparent;
  color: #00B5AD;
}

.uk-icon-button:hover {
  background: #00B5AD;
  color: #fff;
}

.dk-mobile-buttons {
  width: calc(50% - 2px);
}
