textarea {
  width: 100%;
  font-family: 'Ubuntu';
  font-size: 16px;
  resize: none;
  line-height: 24px;
  border: none;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  padding: 0px;
  background-color: #F8F8F8;
  color: #666666;
}

.dk-edit-mode {
  float: right;
  color: #f8f8f8;
  -webkit-font-smoothing: initial;

  background: #00B5AD;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 30px;
  margin-top: 2px;
}

.dk-back {
  margin-left: 20px;
}
