.dk-entry-text {
  font-size: 16px;
  font-weight: 400;
}

textarea {
  width: 100%;
  font-size: 16px;
  font-weight: 400 !important;
  resize: none;
  line-height: 24px;
  border: none;
  margin: 0px;
  padding: 0px;
  font-family: "Avenir Next Cyr",Arial,sans-serif !important;
  background-color: #fefefe;
  color: #777;
}

textarea::placeholder {
  color: #56595e;
}

.dk-edit-mode {
  float: right;
  color: #f3f3f3;
  -webkit-font-smoothing: initial;

  background: #00B5AD;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 30px;
  margin-top: 2px;
}

.dk-edit-mode, .dk-edit-mode label, .dk-edit-mode input {
  cursor: pointer;
}

.dk-back {
  margin-left: 20px;
}

.dk-insert-tag {
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 30px;
  border: none;
  color: #666;
  cursor: pointer;
  background: #e9e8ea;
  transition: all 0.2s ease;
}
.dk-insert-tag:hover {
  background: #d7d4db;
}
