.dk-week {
  max-width: 280px;
  margin: auto;
  cursor: pointer;
}
.dk-month-preview {
  text-align: center;
}
.dk-calendar-day p {
  margin: 0;
}

/* Less than 640px */

@media screen and (max-width: 640px) {
  .dk-calendar-day h1 {
    font-size: 30px;
  }
  .dk-calendar-day {
    padding: 20px;
  }
}

.dk-week a, .dk-week span {
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  font-size: 15px;
  vertical-align: middle;
  text-align: center;
  color: #bbb;
  display: inline-block;
  transition: all 0.3s ease;
}
.dk-week-bold span {
  font-weight: bold;
}

.dk-week a.active {
  border-radius: 32px;
  color: #f7f7f7 !important;
}

.dk-week a.active:hover {
  color: #f7f7f7 !important;
}

.dk-week a.filled {
  color: #666;
}

.dk-week a:hover {
  text-decoration: none;
  color: #00B5AD;
}

.dk-calendar-info h1 {
  margin: 0px;
}

.dk-calendar-info h2 {
  font-size: 14px;
  color: #8c919c;
  margin: 0px 0px 20px 0px;
}

.dk-calendar-day {
  display: block;
  color: #666;
  transition: all 0.3s ease;
}

.dk-calendar-day h1 {
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 5px;
}

.dk-calendar-day:hover {
  text-decoration: none;
  color: #666;
  transform: translateY(-5px);
}

.dk-all-dates {
  text-align: center;
  margin: 0px 40px;
}

.dk-muted-text {
  color: #8c919c;
}

.dk-blog-header {
  font-size: 2rem;
  line-height: 1.3;
  margin-right: 20px;
  color: #E5E5E5;
  transition: all 0.3s ease;
}

.dk-blog-header.active {
  color: #333;
}
