{% extends "base.html" %}
{% load i18n %}

{% block body %}
<div class="container slider-container">
  <div class="scrollable-h1">
    <a href="{% url 'users:profile' %}" class="active">
      {% trans "Your profile" %}
    </a>
    {% if user.is_superuser %}
    <a href="{% url 'admin:index' %}">{% trans "Admin UI" %}</a>
    <a href="https://github.com/users/deniskrumko/projects/1" target="_blank">
      {% trans "Github" %}
    </a>
    {% endif %}
  </div>
</div>

<div class="container">
  <form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="pure-g">
      <div class="pure-u-1-1 pure-u-md-1-2">
        <h2>Personal Information</h2>
        <p>
          <input class="text-input" type="text" name="first_name" placeholder="Ваше имя"
            value="{{ user.first_name }}">
        </p>
        <p>
          <input class="text-input" type="text" name="last_name" placeholder="Ваша фамилия"
            value="{{ user.last_name }}">
        </p>
      </div>
      <div class="pure-u-1-1 pure-u-md-1-2">
        <h2>Avatar</h2>
        {% if request.user.image %}
        <div class="">
          <img src="{{ request.user.image_small.url }}" alt="image" width="60">
        </div>
        {% endif %}
        <div class="">
          <p>
            <label>
              <input type="checkbox" name="remove_avatar">
              {% trans "Remove image" %}
            </label>
          </p>
          <p>
            <label>
              <input type="file" name="avatar" value="Upload new">
            </label>
          </p>
        </div>
      </div>
    </div>
    <div class="">
      <input type="submit" value="Сохранить" class="btn primary">
      <a href="{% url 'users:logout' %}" class="btn">
        {% trans "Logout" %}
      </a>
    </div>
  </form>
</div>
{% endblock %}
