.small-preview {
  height: 30px;
  transition: all 0.1s ease;
  border-radius: 2px;
}

.small-preview:hover {
  transform: scale(1.3);
}

.large-preview {
  height: 128px;
  transition: all 0.1s ease;
  border-radius: 4px;
}

.large-preview:hover {
  transform: scale(1.1);
}

.dk-menu-br {
  height: 80px;
}

body {
  height: 100%;
  color: #666;
  background: #fefefe !important;
  font-family: Ubuntu !important;
  -webkit-font-smoothing: antialiased;
}

#container {
    max-width: 1000px;
    margin: auto;
}

#result_list thead {
  border-bottom: 5px solid #482475;
}

th a, td a {
  font-family: Ubuntu !important;
  font-weight: 400 !important;
}

div.breadcrumbs a {
  color: #666;
}

div.breadcrumbs a:hover {
  color: #333;
}

div.breadcrumbs {
  color: #491f77 !important;
}

textarea, input, select {
  background: #f9f9f9;
  border-color: #f9f9f9 !important;
  color: #333 !important;
}

thead th {
    border-top: none !important;
    border-bottom: none !important;
    margin-top: 10px !important;
}

thead th.sorted {
    background: #482475 !important;
}

th.sorted > div > a {
    color: #fefefe !important;
}

#changelist table tbody tr.selected {
    background-color: #E26B73 !important;
    color: #1c1f26 !important;
}

tr.selected th a {
    color: #1c1f26 !important;
    transition: all 0.3s ease;
}
tr.selected th a:hover {
    color: #ad5258 !important;
}

table thead th .text a:focus, table thead th .text a:hover {
    background: transparent !important;
}

.module h2, .module caption, .inline-group h2 {
    font-size: 16px;
    color: #fefefe;
}

label {
  color: #666 !important;
}

.form-row {
    border-bottom: 1px solid #f0f0f0 !important;
}

.submit-row {
    border: none !important;
}


.button, input[type=submit], input[type=button], .submit-row input, a.button {
  transition: all 0.3s ease;
}

ul.messagelist li {
  border-radius: 50px;
}

.object-tools a:link, .object-tools a:visited {
  background: #482475 !important;
  color: #f0f0f0 !important;
  transition: all 0.3s ease;
}

.object-tools a:hover {
  background: #6530a7 !important;
}

.object-tools a.addlink {
    background-image: url(../img/tooltag-add.svg) !important;
    background-repeat: no-repeat !important;
    background-position: right 7px center !important;
    padding-right: 26px !important;
}

#changelist #toolbar form input[type="submit"] {
    border: 1px solid #ccc;
    background: #482773 !important;
    color: #f0f0f0 !important;
}


h1 {
  color: #491f77;
}

.uk-navbar-nav>li {
  position: relative;
  z-index: 1 !important;
  list-style-type: none;
}

.uk-navbar-nav>li.active::after {
  content: '';
  width: calc(100% - 30px);
  height: 2px;
  position: absolute;
  bottom: 20px;
  transition: all 0.3s ease;
  margin-left: 15px;
  color: red;
}

.uk-navbar-nav>li>a {
  color: #491f77 !important;
}

.uk-navbar-nav>li.active::after {
  background-color: #491f77;
}

.uk-navbar-nav>li.active>a {
  color: #491f77;
}

.uk-navbar-nav>li>a:hover {
  color: #491f77;
}

.dk-navbar-active {
  color: #491f77 !important;
}

a.section:link, a.section:visited {
  color: #491f77 !important;
}

.module h2, .module caption, .inline-group h2 {
  background: #f3f3f3;
  color: #491f77 !important;
}

thead th {
    background: #fafafa !important;
}

.inline-group .tabular tr.add-row td {
    border-bottom: none !important;
    background: #fefefe !important;
}

div.breadcrumbs {
  background: transparent;
  border-bottom: 3px solid #491f77;
}

#changelist #toolbar {
    border-top: none !important;
    border-bottom: none !important;
    background: #fefefe !important;
    color: #f7f7f7;
}

#changelist .paginator {
    border-top: none !important;
    border-bottom: none !important;
    color: #A6ADBB !important;
}

.required label, label.required {
  color: #444 !important;
}

#changelist .actions {
      background: #fefefe !important;
    color: #999;
}



td, th {
  border-bottom: 1px solid #e9e9e9;
}

#content-related .module h2 {
  color: #482475;
}

.button.default, input[type=submit].default, .submit-row input.default {
    color: white !important;
    background: #482475;
}

.button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus, .button.default:hover, input[type=submit].default:hover {
    background: #6727b8;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #ececec;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #e0e0e0;
}
